<form>
    <input type="hidden" name="<?php echo App_Api_Scara_Remove::ARG_SCARA_ID ?>" />

    <div>Doriți să eliminați scara <span class="scara-label"></span> din blocul <span class="bloc-label"></span>?</div>

    <div class="actions-container">
        <input class="button confirm-button" type="submit" value="Da" />
        <input class="button cancel-button" type="button" value="Nu" />
    </div>

    <div class="instructions">
        <div class="select-scara">Doriți să eliminați altă scară? Nimic mai simplu: selectați de mai sus denumirea scării dorite.</div>
    </div>

</form>
