<div id="welcome-module">
    
    <div class="top-message"><b>Bun venit!</b></div>
    
    <div>
        Înainte de utilizarea propriu-zisă a aplicației este nevoie parcurgerea următorilor pași:<br />
        1. Înregistrarea tuturor apartamentelor<br />
        2. Specificarea primei luni începând cu care se utilizează aplicația<br />
        3. Specificarea fondurilor Asociației<br />
        4. Inregistrarea tuturor datoriilor proprietarilor<br />
        5. Completarea altor informații specifice Asociației<br />
    </div>
    
    <br />
    
    <div>
        Pentru a începe, apasați butonul "Continuă":<br />
        
        <input type="button" class="button continue-button" value="Continuă" />
    </div>
    
</div>
