<div id="cheltuieli-curente" class="fit-max-wrapper">
    
    <div class="frame-top">
        <?php echo $this->includeView( 'curente/actions.phtml' ); ?>
    </div>
    
    <div class="frame-content">
        <?php echo $this->includeView( 'curente/list.phtml' ); ?>
    </div>
    
</div>