<div class="cheltuiala-reparatie-details-frame tip-cheltuiala-details-frame">

    <div class="section details-section">
        
        <div class="section-title">
            Informaţiile despre cheltuială
        </div>

        <div class="section-content">
            <table class="section-table-layout">
                <tr>
                    <td class="label">Descriere:</td>
                    <td class="value-element descriere"></td>
                </tr>
                <tr>
                    <td class="label">Furnizor:</td>
                    <td class="value-element furnizor"></td>
                </tr>
                <tr>
                    <td class="label">Doc. justificativ:</td>
                    <td class="value-element document"></td>
                </tr>
                <tr>
                    <td class="label">Data cheltuielii:</td>
                    <td class="value-element data"></td>
                </tr>
                <tr>
                    <td class="label">Valoare:</td>
                    <td class="value-element valoare"></td>
                </tr>
                <tr>
                    <td class="label">Achitată din:</td>
                    <td class="value-element fond"></td>
                </tr>
                <tr class="coloana-row">
                    <td class="label">Coloana:</td>
                    <td class="value-element coloana"></td>
                </tr>
                <tr class="repartizare-row">
                    <td class="label">Repartizată la:</td>
                    <td class="value-element spatii"></td>
                </tr>
            </table>
        </div>
        
    </div>
        
    <div class="section contributii-section">
        
        <div class="section-title">
            Cotele de contribuţie calculate pentru fiecare apartament
        </div>

        <div class="section-content">
            <?php echo $this->includeView( 'cheltuieli/components/spatii/list.phtml', [ 'relative' => false ] ) ?>
        </div>
        
    </div>

</div>
