<div class="cheltuieli_gospodaresti-form-frame tip-cheltuiala-form-frame">
    
    <form class="cheltuiala-form" autocomplete="off">
        <table class="form-layout">
            <tr>
                <td class="label">Descriere:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DESCRIERE ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Descrierea produsului sau a serviciului. <br />
                    Ex.: 'Pixuri', 'Detergent curăţenie', 'Xeroxare documente'.<br /><br />
                    Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::DESCRIERE_MAX_LENGTH, 'caracter' ) ?>."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Furnizor:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_FURNIZOR ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Denumirea persoanei fizice sau juridice de la care s-a achiziţionat produsul sau serviciul.<br /><br />
                    Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::FURNIZOR_MAX_LENGTH, 'caracter' ) ?>."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Document justificativ:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DOCUMENT ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Tipul documentului pe baza căruia a fost efectuată plata şi, 
                    după caz, seria şi numărului acestuia.  <br />
                    Ex.: 'Bon fiscal nr. 2431', 'Bilete transport', 'Proces-verbal nr. 12/2014'.<br /><br />
                    Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::DOCUMENT_MAX_LENGTH, 'caracter' ) ?>."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Data cheltuielii:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DATA ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Data la care a fost efectuată cheltuiala."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Valoarea cheltuielii:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_VALOARE ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Valoarea este un număr diferit de zero, cu cel mult <?php echo Lib_Validator_Abstract::FLOAT_PRECISION ?> zecimale, 
                    cuprins între <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MIN_LIMIT, 0 ) ?> 
                    şi <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MAX_LIMIT, 0 ) ?>,
                    iar separatorul de zecimale este virgula."></span>
                </td>
            </tr>
            
            <tr class="fond-section">
                <td class="label">Achitată din:</td>
                <td class="fonduri-container field-container">
                    <select class="fond-plata-input"
                            name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_FOND ?>">
                    </select>
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Selectaţi fondul din care se achită cheltuiala."></span>
                </td>
            </tr>
            
            <tr class="repartizare-proprietari-section">
                <td class="label"></td>
                <td class="field-container">
                    <label class="choice">
                        <input class="repartizare-proprietari-checkbox" type="checkbox" />se repartizează proprietarilor
                    </label>
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Bifaţi dacă suma se repartizează proprietarilor, caz în care suma va apărea în lista de plată."></span>
                </td>
            </tr>
            
            <tr class="coloana-section">
                <td class="label">Coloana:</td>
                <td class="field-container">
                    
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Cheltuiala va apărea în lista de plată pe coloana afişată."></span>
                </td>
            </tr>
            
            <tr class="repartizare-section">
                <td class="label">Repartizare la:</td>
                <td class="field-container">
                    <?php echo $this->includeView( 'cheltuieli/components/spatii/repartizare-asociatie.phtml', [ 'relative' => false ] ); ?>
                </td>
                <td class="info-field">
                    <span class="help-icon" title="După caz, cheltuiala poate fi repartizată doar unor blocuri, scări, sau apartamente.<br /><br />
                    Selectarea apartamentelor dintr-o anumită scară se efectueză prin apăsarea butonului 
                    <span class='select-spatii-button'></span> din dreptul scării dorite."></span>
                </td>
            </tr>
            
        </table>
    </form>
    
</div>
