<?php 

$action_groups = [ 
    'Bloc' => [
        'add-bloc'      => 'adăugare',
        'edit-bloc'     => 'modificare',
        'remove-bloc'   => 'eliminare',
    ],
    'Scară' => [
        'add-scara'      => 'adăugare',
        'edit-scara'     => 'modificare',
        'remove-scara'   => 'eliminare',
    ],
    'Apartament' => [
        'add-spatiu'      => 'adăugare',
        'edit-spatiu'     => 'modificare',
        'remove-spatiu'   => 'eliminare',
    ],
];

?>

<?php foreach( $action_groups as $group_label => $actions ): ?>
<div class="actions-group">
    <div class="group-name"><?php echo $group_label ?></div>
    <div class="group-actions">
        <?php foreach( $actions as $action => $action_label ): ?>
        <div class="action-row">
            <a class="action-item" data-action="<?php echo $action ?>"><?php echo $action_label ?></a>
        </div>
        <?php endforeach; ?>
    </div>
</div>
<?php endforeach; ?>