<div id="spatii-module" class="module-page-container">

    <div class="module-top-wrapper">
        <?php echo $this->includeView( 'module-top-panel.phtml' ) ?>
    </div>
    
    <div class="module-content-wrapper">
        <?php echo $this->includeView( 'scari-list-component.phtml', [ 'params' => [ 'id_attr' => 'spatii-scari-list-panel' ] ] ) ?>

        <div id="spatii-content-panel">
            <?php echo $this->includeView( 'content-panel.phtml' ) ?>
        </div>

        <div id="spatii-actions-panel">
            <?php echo $this->includeView( 'actions-panel.phtml' ) ?>
        </div>
    </div>
    
</div>