<div class="scari-list-component" id="<?php echo $this->id_attr ?>">
    
    <div class="template bloc-item">
        <div class="bloc-label"></div>
        <div class="scari-container"></div>
    </div>

    <div class="template scara-item">
        <div class="scara-label"></div>
        
        <?php if( $this->show_scara_counters ): ?>
        <div class="spatii-counter">
            <span class="selected-spatii-counter"></span><span class="counter-delimiter">/</span><span class="total-spatii-counter"></span>
        </div>
        <?php endif; ?>
    </div>

    <div class="empty-list">
        Nu există blocuri.
    </div>

</div>