<div id="add-spatiu-panel" class="content-panel">
    
    <a class="cancel-button">renunță</a>
    <div class="panel-title">Adaugă un apartament</div>
    
    <?php echo $this->panes([
        'select-scara'  => 'add-spatiu/select-scara.phtml',
        'panel'         => 'add-spatiu/panel.phtml',
    ]); ?>    
    
</div>
