<div id="add-scara-panel" class="content-panel">
    
    <a class="cancel-button">renunță</a>
    <div class="panel-title">Adaugă o scară</div>
        
    <?php echo $this->panes([
        'select-bloc'   => 'add-scara/select-bloc.phtml',
        'panel'         => 'add-scara/panel.phtml',
    ]); ?>    
    
</div>