<div id="add-bloc-panel" class="content-panel">
    
    <a class="cancel-button">renunță</a>
    <div class="panel-title">Adaugă un bloc</div>
        
    <form autocomplete="off">
        
        <div>
            <label>Denumire:</label>
            <input type="text" class="denumire" name="<?php echo App_Api_Bloc_Add::ARG_DENUMIRE ?>" />
        </div>
        
        <div class="actions-container">
            <input class="button" type="submit" value="Salvează" />
        </div>
        
    </form>
    
</div>