<div id="edit-spatiu-panel" class="content-panel">
    
    <a class="cancel-button">renunță</a>
    <div class="panel-title">Modifică un apartament</div>
    
    <?php echo $this->panes([
        'select-scara'  => 'edit-spatiu/select-scara.phtml',
        'list'          => 'edit-spatiu/list.phtml',
    ]); ?>
    
</div>