<div id="edit-scara-panel" class="content-panel">
    
    <a class="cancel-button">renunță</a>
    <div class="panel-title">Modifică o scară</div>
    
    <?php echo $this->panes([
        'select-scara'  => 'edit-scara/select-scara.phtml',
        'panel'         => 'edit-scara/panel.phtml',
    ]); ?>
    
</div>