<div id="edit-bloc-panel" class="content-panel">
    
    <a class="cancel-button">renunță</a>
    <div class="panel-title">Modifică un bloc</div>
    
    <?php echo $this->panes([
        'select-bloc'   => 'edit-bloc/select-bloc.phtml',
        'panel'         => 'edit-bloc/panel.phtml',
    ]); ?>
    
</div>