<div id="remove-scara-panel" class="content-panel">
    
    <a class="cancel-button">renunță</a>
    <div class="panel-title">Eliminare scară</div>
    
    <?php echo $this->panes([
        'select-scara'  => 'remove-scara/select-scara.phtml',
        'panel'         => 'remove-scara/panel.phtml',
    ]); ?>
    
</div>