<div id="remove-bloc-panel" class="content-panel">
    
    <a class="cancel-button">renunță</a>
    <div class="panel-title">Eliminare bloc</div>
    
    <?php echo $this->panes([
        'select-bloc'   => 'remove-bloc/select-bloc.phtml',
        'panel'         => 'remove-bloc/panel.phtml',
    ]); ?>    
    
</div>