<div id="remove-spatiu-panel" class="content-panel">

    <a class="cancel-button">renunță</a>
    <div class="panel-title">Eliminare apartament</div>

    <?php echo $this->panes([
        'select-scara'  => 'remove-spatiu/select-scara.phtml',
        'list'          => 'remove-spatiu/list.phtml',
    ]); ?>
     
</div>