<div id="cheltuiala-categorie-ascensoare-pane">
    
    <div class="cheltuiala-unavailable-frame">
    
        <div class="alert-text">
            Facturile pentru ascensoare pot fi înregistrate doar dacă asociaţia deţine ascensoare.
        </div>

        <div class="instructions">
            Pentru a defini ascensoarele accesați pagina <a class="goto-config">Configurare</a>.
        </div>

    </div>
    
    <div class="cheltuiala-content-frame">
        
        <div class="tipuri-cheltuieli-choices-section">

            <div class="instructions select-choice">Alegeţi tipul cheltuielii:</div>

            <div class="tipuri-cheltuieli-choices clearfix">
            <?php 
                $tipuri_cheltuieli = App_Component_CheltuialaTip_Factory::getInstance()->getTipuriByCategorie( App_Component_CheltuialaCategorie_Factory::CATEG_ASCENSOARE );

                foreach( $tipuri_cheltuieli as $tip_data )
                {
                    $denumire   = $tip_data[ App_Component_CheltuialaTip_Object::PROP_DENUMIRE ];
                    $tip        = $tip_data[ App_Component_CheltuialaTip_Object::PROP_TIP ];
                ?>

                <div class="tip-cheltuiala-choice choice">
                    <label>
                        <input type="radio" tabindex="-1" name="_tip-cheltuiala-ascensoare" value="<?php echo $tip ?>" /><?php echo $this->escape( $denumire ) ?>
                    </label>
                </div>
            <?php } ?>
            </div>

        </div>

        <div class="tipuri-cheltuieli-wrapper">
            <?php echo $this->includeView( '/cheltuieli/components/tipuri_cheltuiala/ascensoare/form.phtml' ) ?>
        </div>
        
    </div>
    
</div>
