<div id="cheltuiala-categorie-utilitate_publica-pane">
    
    <div class="tipuri-cheltuieli-choices-section">
        
        <div class="instructions select-choice">Alegeţi tipul utilităţii:</div>

        <div class="tipuri-cheltuieli-choices clearfix">
        <?php 
            $panes = [];
            
            $tipuri_utilitati = App_Component_CheltuialaTip_Factory::getInstance()->getTipuriByCategorie( App_Component_CheltuialaCategorie_Factory::CATEG_UTILITATE_PUBLICA );
            
            foreach( $tipuri_utilitati as $tip_data )
            {
                $denumire   = $tip_data[ App_Component_CheltuialaTip_Object::PROP_DENUMIRE ];
                $tip        = $tip_data[ App_Component_CheltuialaTip_Object::PROP_TIP ];

                $panes[ $tip ] = 'tipuri/' . $tip . '.phtml';
            ?>

            <div class="tip-cheltuiala-choice choice">
                <label>
                    <input type="radio" tabindex="-1" name="_tip-cheltuiala-utilitati" value="<?php echo $tip ?>" /><?php echo $this->escape( $denumire ) ?>
                </label>
            </div>
        <?php } ?>
        </div>
        
    </div>

    <?php 
        echo $this->panes( $panes , [
            'css_class'     => 'tipuri-cheltuieli-wrapper inline container-view'
        ]); 
    ?>

</div>
