body.landing {
    width: 780px;
    margin: 0 auto;
}

#landing-header {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 90px;
    color: #ffffff;
}

#landing-header > .app-logo {
    font-family: Iceland;
}
#landing-header .app-abrv {
    color: #10FF90;
    font-size: 68px;
    font-weight: bold;
    float: left;
}
#landing-header .app-description {
    float: right;
    font-size: 23px;
    margin-top: 7px;
}


#landing {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 5px 5px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 90px;
}

#landing .landing-top-bar {
    background-image: -webkit-linear-gradient(top, #03C657, #0CEE7F);
    background-image: -moz-linear-gradient(top, #03C657, #0CEE7F);
    background-image: linear-gradient(to bottom, #03C657, #0CEE7F);
    box-shadow: 0 0 8px 0 #000000;
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#landing .landing-bottom-bar {
    background-image: -webkit-linear-gradient(bottom, #03C657, #0CEE7F);
    background-image: -moz-linear-gradient(bottom, #03C657, #0CEE7F);
    background-image: linear-gradient(to top, #03C657, #0CEE7F);
    bottom: 0;
    box-shadow: 0 0 8px 0 #000000;
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
}

#landing > .landing-content {
    bottom: 36px;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 36px;
}
