#login-frame {

}

#login-frame .login-form {
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 5px 5px 5px 5px;
    margin: 60px auto 0;
    overflow: hidden;
    padding: 0 10px 10px;
    width: 320px;
}

#login-frame .login-form .top-bar {
    background-image: -webkit-linear-gradient(bottom, #03C657, #0CEE7F);
    background-image: -moz-linear-gradient(bottom, #03C657, #0CEE7F);
    background-image: linear-gradient(to top, #03C657, #0CEE7F);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 0 0 #000000;
    line-height: 30px;
    margin: 0 -10px 2em;
    padding: 0 10px;
}

#login-frame .login-form .label {
    width: 100px;
}
#login-frame .login-form .field-container input {
    width: 220px;
}
#login-frame .login-form td.label,
#login-frame .login-form td.field-container,
#login-frame .login-form td.rememberme-container,
#login-frame .login-form td.login-action-container {
    padding-bottom: 6px;
}

#login-frame .login-form td.rememberme-container,
#login-frame .login-form td.login-action-container {
    text-align: right;
}

#login-frame .demo {
    margin-top: 1em;
    color: #444444;
    font-size: 0.9em;
}