<?php
/* Afiseaza partea inferioara a Listei de Plata:
 * - listarea cheltuielilor
 *
 */

    $Lista = $this->Lista;
    $Asociatie = $this->asociatie();
?>

<div class="lista-footer">

    <table class="persoane-conatainer simple-table-layout">
        <tr>
            <td class="presedinte-container">
                <label>Preşedinte:</label>
                <span class="nume">
                    <?php echo $this->escape( $Asociatie->getValoareParametru( App_Component_AsociatieParametru_Factory::PRESEDINTE ) ) ?>
                </span>
            </td>

            <td class="presedinte-container">
                <label>Administrator:</label>
                <span class="nume">
                    <?php echo $this->escape( $Asociatie->getValoareParametru( App_Component_AsociatieParametru_Factory::ADMINISTRATOR ) ) ?>
                </span>
            </td>

            <td class="presedinte-container">
                <label>Cenzor:</label>
                <span class="nume">
                    <?php echo $this->escape( $Asociatie->getValoareParametru( App_Component_AsociatieParametru_Factory::CENZOR ) ) ?>
                </span>
            </td>
        </tr>
    </table>

</div>