<?php
/* Afiseaza partea superioara a Listei de Plata:
 * - informatii despre scara
 * - sumar al tipurilor de cheltuieli (pe pers, pe cota-indiviza, ...)
 *
 */

    /* @var $Lista App_Component_ScaraLista_Object */
    $Lista = $this->Lista;

    $scara = $Lista->getScaraData();

    /* @var $Asociatie App_Component_Asociatie_Object */
    $Asociatie = $this->asociatie();

    $sumarCheltuieli = $Lista->getLista()->getCheltuieliScari();

    $sumarCheltuieliScara = @$sumarCheltuieli[ $scara[ App_Component_Scara_Object::PROP_ID ] ];

?>

<table class="lista-header-asociatie">

    <tr>

        <td class="asociatie-info-container">

            <div class="denumire-asociatie"><?php echo $Asociatie->getDenumire() ?></div>

            <div class="adresa-asociatie"><?php echo $Asociatie->getAdresaCompleta() ?></div>

            <div class="cod-fiscal-asociatie">Cod Fiscal: <?php echo $Asociatie->getCodFiscal() ?></div>

            <div class="telefon-asociatie">Telefon: <?php echo $Asociatie->getTelefon() ?></div>

        </td>

        <td class="lista-title-container">

            <div class="lista-title">LISTA DE PLATĂ</div>

            <div class="lista-month"><?php echo $this->displayMonth( $Lista->getMonth() ) ?></div>

            <div class="denumire-scara"><?php echo $this->escape( App_Component_Scara_Factory::getInstance()->getDenumireCompleta( $scara ) ) ?></div>

        </td>

        <td class="lista-info-container">

            <div class="data-afisarii">Data afişării: <?php echo $this->formatDate( $Lista->getLista()->getDataAfisarii(), true, false ) ?></div>

            <div class="scadenta">Scadenţa: <?php echo $this->formatDate( $Lista->getLista()->getScadenta(), true, false ) ?></div>

        </td>

    </tr>

</table>

<div class="lista-header-cheltuieli">

    <table class="sumar-cheltuieli-container">
        <tr>
            <th>Consumuri individuale</th>
            <th>Cheltuieli pe nr. de persoane</th>
            <th>Cheltuieli pe cota-parte</th>
        </tr>

        <tr>

            <td class="cheltuieli-container consumuri-individuale-container">
                <?php $facturaApaRece = @reset( $sumarCheltuieliScara[ App_Component_Coloana_Factory::COLOANA_APA_RECE ] ); ?>
                <?php if ( $facturaApaRece ): ?>
                <div class="cheltuiala-item">

                    <div class="denumire-cheltuiala">
                        Apa rece - <?php echo $this->escape( $facturaApaRece[ App_Component_ColoanaLista_Object::CHELTUIALA_DESCRIERE ] ); ?>:
                        <span class="valoare-cheltuiala"><?php echo $this->formatValue( $facturaApaRece[ App_Component_ColoanaLista_ApaRece_Object::CHELTUIALA_VALOARE ] ); ?> lei</span>
                    </div>

                    <div class="detalii-cheltuiala">
                        <table class="simple-table-layout">
                            <?php if ( isset( $facturaApaRece[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_REPARTIZATA ] ) ): ?>
                            <tr>
                                <td>Valoare repartizată pe scară:</td>
                                <td class="numeric-value"><span class="valoare-repartizata-cheltuiala"><?php echo $this->formatValue( $facturaApaRece[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_REPARTIZATA ] ); ?></span> lei</td>
                            </tr>
                            <?php endif; ?>

                            <tr>
                                <td>Consum repartizat pe scară:</td>
                                <td class="numeric-value"><?php echo $this->escape( $facturaApaRece[ App_Component_ColoanaLista_ApaRece_Object::CHELTUIALA_CANTITATE_REPARTIZATA ] ) ?> mc</td>
                            </tr>

                            <tr>
                                <td>Tarif mc:</td>
                                <td class="numeric-value"><?php echo $this->formatValue( $facturaApaRece[ App_Component_ColoanaLista_ApaRece_Object::CHELTUIALA_PRET_UNITAR ], true, true, 4 ) ?> lei</td>
                            </tr>

                            <?php if( isset( $facturaApaRece[ App_Component_ColoanaLista_ApaRece_Object::CHELTUIALA_DIFERENTA_MC ] ) ): ?>
                            <tr>
                                <td>Diferenţă mc:</td>
                                <td class="numeric-value"><?php echo $this->formatValue( $facturaApaRece[ App_Component_ColoanaLista_ApaRece_Object::CHELTUIALA_DIFERENTA_MC ], true, true, 4 ) ?> lei</td>
                            </tr>
                            <?php endif; ?>
                        </table>
                    </div>
                </div>
                <?php endif; ?>

                <?php $facturaApaCalda = @reset( $sumarCheltuieliScara[ App_Component_Coloana_Factory::COLOANA_APA_CALDA ] ); ?>
                <?php if ( @$facturaApaCalda ): ?>
                <div class="cheltuiala-item">

                    <div class="denumire-cheltuiala">
                        Apa caldă - <?php echo $this->escape( $facturaApaCalda[ App_Component_ColoanaLista_Object::CHELTUIALA_DESCRIERE ] ); ?>:
                        <span class="valoare-cheltuiala"><?php echo $this->formatValue( $facturaApaCalda[ App_Component_ColoanaLista_ApaCalda_Object::CHELTUIALA_VALOARE ] ); ?> lei</span>
                    </div>

                    <div class="detalii-cheltuiala">
                        <table class="simple-table-layout">
                            <?php if ( isset( $facturaApaCalda[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_REPARTIZATA ] ) ): ?>
                            <tr>
                                <td>Valoare repartizată pe scară:</td>
                                <td class="numeric-value"><span class="valoare-repartizata-cheltuiala"><?php echo $this->formatValue( $facturaApaCalda[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_REPARTIZATA ] ); ?></span> lei</td>
                            </tr>
                            <?php endif; ?>

                            <tr>
                                <td>Consum repartizat pe scară:</td>
                                <td class="numeric-value"><?php echo $this->escape( $facturaApaCalda[ App_Component_ColoanaLista_ApaCalda_Object::CHELTUIALA_CANTITATE_REPARTIZATA ] ) ?> mc</td>
                            </tr>

                            <tr>
                                <td>Tarif mc:</td>
                                <td class="numeric-value"><?php echo $this->formatValue( $facturaApaCalda[ App_Component_ColoanaLista_ApaCalda_Object::CHELTUIALA_PRET_UNITAR ], true, true, 4 ) ?> lei</td>
                            </tr>

                            <?php if( isset( $facturaApaCalda[ App_Component_ColoanaLista_ApaCalda_Object::CHELTUIALA_DIFERENTA_MC ] ) ): ?>
                            <tr>
                                <td>Diferenţă mc:</td>
                                <td class="numeric-value"><?php echo $this->formatValue( $facturaApaCalda[ App_Component_ColoanaLista_ApaCalda_Object::CHELTUIALA_DIFERENTA_MC ], true, true, 4 ) ?> lei</td>
                            </tr>
                            <?php endif; ?>

                        </table>
                    </div>
                </div>
                <?php endif; ?>

            </td>

            <td class="cheltuieli-container cheltuieli-persoane-container">

                <?php $cheltuieliNrPers = @$sumarCheltuieliScara[ App_Component_Coloana_Factory::COLOANA_CHELTUIELI_PERSOANA ]; ?>

                <table class="simple-table-layout">
                <?php if ( $cheltuieliNrPers ) foreach ( $cheltuieliNrPers as $cheltuiala ): ?>
                    <tr>
                        <td class="denumire-cheltuiala">
                            <?php echo $this->escape( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_DESCRIERE ] ); ?>:
                        </td>

                        <td class="valoare-cheltuiala numeric-value">
                            <?php if ( isset( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_REPARTIZATA ] ) ): ?>
                                <?php echo $this->formatValue( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_REPARTIZATA ] ); ?> lei
                            <?php else: ?>
                                <?php echo $this->formatValue( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE ] ); ?> lei
                            <?php endif; ?>
                        </td>

                        <td class="pret-unitar numeric-value">
                            <?php echo $this->formatValue( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_PE_UNITATE ], true, true, 3 ); ?> lei/pers
                        </td>
                    </tr>

                    <?php if( isset( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_PE_UNITATE_REDUCERE ] ) ): ?>
                    <tr>
                        <td class="pret-unitar numeric-value" colspan="3">
                            <?php echo $this->escape( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_DENUMIRE_REDUCERE ] ); ?>:
                            <?php echo $this->formatValue( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_PE_UNITATE_REDUCERE ], true, true, 3 ); ?> lei/pers
                        </td>
                    </tr>
                    <?php endif; ?>

                <?php endforeach; ?>
                </table>

            </td>

            <td class="cheltuieli-container cheltuieli-cota-parte-container">

                <?php $cheltuieliSuprafata = @$sumarCheltuieliScara[ App_Component_Coloana_Factory::COLOANA_CHELTUIELI_SUPRAFATA ]; ?>

                <table class="simple-table-layout">
                <?php if ( $cheltuieliSuprafata ) foreach ( $cheltuieliSuprafata as $cheltuiala ): ?>
                    <tr>
                        <td class="denumire-cheltuiala">
                            <?php echo $this->escape( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_DESCRIERE ] ); ?>:
                        </td>

                        <td class="valoare-cheltuiala numeric-value">
                            <?php if ( isset( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_REPARTIZATA ] ) ): ?>
                                <?php echo $this->formatValue( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_REPARTIZATA ] ); ?> lei
                            <?php else: ?>
                                <?php echo $this->formatValue( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE ] ); ?> lei
                            <?php endif; ?>
                        </td>

                        <td class="pret-unitar numeric-value">
                            <?php echo $this->formatValue( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_PE_UNITATE ], true, true, 4 ); ?> lei/mp
                        </td>

                    </tr>

                    <?php if( isset( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_PE_UNITATE_REDUCERE ] ) ): ?>
                    <tr>
                        <td class="pret-unitar numeric-value" colspan="3">
                            <?php echo $this->escape( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_DENUMIRE_REDUCERE ] ); ?>:
                            <?php echo $this->formatValue( $cheltuiala[ App_Component_ColoanaLista_Object::CHELTUIALA_VALOARE_PE_UNITATE_REDUCERE ], true, true, 4 ); ?> lei/mp
                        </td>
                    </tr>
                    <?php endif; ?>

                <?php endforeach; ?>
                </table>

            </td>

        </tr>
    </table>

</div>
