<?php
/*
 *
 * Afiseaza denumirile coloanelor din tabelul Listei de Plata:
 */

    /* @var $ScaraLista App_Component_ScaraLista_Object */
    $ScaraLista = $this->Lista;

    $coloane = $ScaraLista->getColoane();

?>

<tbody>
    <?php $i = 0; ?>
    <?php foreach ($ScaraLista as $spatiuId => $spatiuValues): ?>

        <tr class="linie-spatiu <?php if( $i++ % 2 ) echo 'linie-zebra' ?>">
            <?php foreach ($coloane as $coloanaId => $coloana): ?>

                <?php
                    $coloanaCode = $coloana[ App_Component_Coloana_Object::CODE ];
                    $coloanaData = @$spatiuValues[ $coloanaId ];
                ?>

                <?php foreach( $coloana[ App_Component_Coloana_Object::SUBCOLOANE ] as $subcoloanaId => $subcoloana ): ?>
                    <td class="<?php if ( !$subcoloana[ App_Component_Subcoloana_Object::ALIGN_RIGHT ] ) echo 'cell-text'  ?>
                               <?php echo 'cell-' . $coloanaId . '-' . $subcoloanaId ?>"><?php
                        if ( $coloanaData && isset( $coloanaData[ App_Component_Lista_Object::SUBCOLOANE ][ $subcoloanaId ] ) )
                            echo $this->displayListaValue( $coloanaData[ App_Component_Lista_Object::SUBCOLOANE ][ $subcoloanaId ], $subcoloana[ App_Component_Subcoloana_Object::IS_NUMERIC ], $subcoloana[ App_Component_Subcoloana_Object::SHOW_ZEROS ] );
                    ?></td>
                <?php endforeach; ?>

                <?php if( App_Component_Coloana_Factory::getInstance()->coloanaHasValue( $coloana ) ): ?>
                    <td class="<?php echo 'cell-' . $coloanaId ?>"><?php 
                        if ( $coloanaData ) echo $this->displayListaValue( $coloanaData, true, true ); 
                    ?></td>
                <?php endif; ?>

            <?php endforeach; ?>
        </tr>

    <?php endforeach; ?>

</tbody>

<tbody class="lista-table-footer">
    <?php
        $coloaneVerticalSums = $ScaraLista->getColoaneVerticalSums();
    ?>

    <tr class="total-vertical">
        <?php foreach( $coloane as $coloanaId => $coloana ): ?>

            <?php foreach( $coloana[ App_Component_Coloana_Object::SUBCOLOANE ] as $subcoloanaId => $subcoloana ): ?>
            <td>
                <?php if ( $subcoloana[ App_Component_Subcoloana_Object::IS_NUMERIC ] ) echo $this->displayListaValue( @$coloaneVerticalSums[ $coloanaId ][ App_Component_Coloana_Object::SUBCOLOANE ][ $subcoloanaId ] ) ?>
            </td>
            <?php endforeach; ?>

            <?php if ( App_Component_Coloana_Factory::getInstance()->coloanaHasValue( $coloana ) ): ?>
            <td>
                <?php echo $this->displayListaValue( @$coloaneVerticalSums[ $coloanaId ] ) ?>
            </td>
            <?php endif; ?>

        <?php endforeach; ?>
    </tr>

</tbody>

