<?php
/* @codeComplete
 *
 * Afiseaza tabelul Listei de Plata:
 */

/* @var $ScaraLista App_Component_ScaraLista_Object */
$ScaraLista = $this->Lista;

?>

<div class="lista-table-container">

    <table class="lista-table">
        <?php echo $this->partial('lista/_table_header.phtml', ['Lista' => $ScaraLista]) ?>

        <?php echo $this->partial('lista/_table_content.phtml', ['Lista' => $ScaraLista]) ?>
    </table>

</div>