<?php
/* @codeComplete
 *
 * Afiseaza denumirile coloanelor din tabelul Listei de Plata:
 */

    /* @var $ScaraLista App_Component_ScaraLista_Object */
    $ScaraLista = $this->Lista;

    $coloane = $ScaraLista->getColoane();

?>

<thead>

    <tr>

        <?php foreach( $coloane as $coloana_id => $coloana ): ?>

            <?php if( $coloana[ App_Component_Coloana_Object::IS_LABEL_DISPLAYABLE ] ) : ?>
                <?php $col_width = App_Component_Coloana_Factory::getInstance()->getColoanaWidth( $coloana ) ?>

                <th colspan="<?php echo $this->escape( $col_width ) ?>"
                    rowspan="<?php echo ( $col_width == 1 ) ? 2 : 1 ?>">
                    <?php echo $this->escape( $coloana[ App_Component_Coloana_Object::LABEL ] ); ?>
                </th>

            <?php else: ?>

                <?php foreach( $coloana[ App_Component_Coloana_Object::SUBCOLOANE ] as $suncoloana_id => $subcoloana ): ?>

                    <th rowspan="2">
                        <?php echo $this->escape( $subcoloana[ App_Component_Subcoloana_Object::LABEL ] ); ?>
                    </th>

                <?php endforeach; ?>

                <?php if ( App_Component_Coloana_Factory::getInstance()->coloanaHasValue( $coloana ) ): ?>

                    <th rowspan="2">
                        <?php echo $this->escape( $coloana[ App_Component_Coloana_Object::VALUE_LABEL ] ); ?>
                    </th>

                <?php endif; ?>

            <?php endif; ?>

        <?php endforeach; ?>

    </tr>

    <tr>

        <?php foreach( $coloane as $coloana_id => $coloana ): ?>

            <?php if( $coloana[ App_Component_Coloana_Object::IS_LABEL_DISPLAYABLE ] && App_Component_Coloana_Factory::getInstance()->getColoanaWidth( $coloana ) > 1 ) : ?>

                <?php foreach( $coloana[ App_Component_Coloana_Object::SUBCOLOANE ] as $subcoloana_id => $subcoloana ): ?>

                    <th>
                        <?php echo $this->escape( $subcoloana[ App_Component_Subcoloana_Object::LABEL ] ) ?>
                    </th>

                <?php endforeach; ?>

                <?php if( App_Component_Coloana_Factory::getInstance()->coloanaHasValue( $coloana ) ): ?>

                    <th>
                        <?php echo $this->escape( $coloana[ App_Component_Coloana_Object::VALUE_LABEL ] ); ?>
                    </th>

                <?php endif; ?>

            <?php endif; ?>

        <?php endforeach; ?>

    </tr>

</thead>
