<style type="text/css">
    <?php echo file_get_contents(realpath( APPLICATION_PATH .DIRECTORY_SEPARATOR . '..' . DIRECTORY_SEPARATOR . 'public' . DIRECTORY_SEPARATOR . 'css' . DIRECTORY_SEPARATOR . $this->module_name . DIRECTORY_SEPARATOR . '-lista-frame.css' ) ) ?>
</style>

<div id="lista-plata-frame">

    <?php
        /* @var $Lista App_Component_Lista_Object */
        $Lista = $this->Lista;
    ?>

    <?php foreach ($Lista as $ScaraLista): ?>
        <div class="scara-lista-container">

        <?php /* @var $ScaraLista App_Component_ScaraLista_Object */  ?>

        <?php echo $this->partial('lista/_header.phtml', ['Lista' => $ScaraLista]) ?>

        <?php echo $this->partial('lista/_table.phtml', ['Lista' => $ScaraLista]) ?>

        <?php echo $this->partial('lista/_footer.phtml', ['Lista' => $ScaraLista]) ?>

        </div>
    <?php endforeach; ?>

</div>
