<div id="liste-plata-module" class="module-container module-page-container">

    <?php if ( count($this->closed_months) ): ?>
    <div class="liste-anterioare-container">

        <span class="button liste-anterioare-button">Vezi Listele Anterioare</span>

        <div class="liste-anterioare-drop-down">
        <?php foreach ($this->closed_months as $month_id) : ?>
            <a class="open-month-item" data-month="<?php echo $this->escape( $month_id ); ?>"><?php echo $this->displayMonth( $month_id ) ?></a>
        <?php endforeach; ?>
        </div>

    </div>
    <?php endif; ?>

    <?php if ( !$this->month_forbidden ): ?>

        <div class="sumar-cheltuieli-container <?php if ( !$this->cheltuieli_count ) echo ' error' ?>">

            <?php if ( !$this->cheltuieli_count ): ?>
                <?php $month = $this->lunaDeLucru(); ?>
            Nu există nicio cheltuială înregistrată <?php if (strlen($month)) echo ' pe luna ' . $month; ?>

            <?php elseif ( $this->cheltuieli_count == 1 ) : ?>
                Există o singură cheltuială înregistrată.

            <?php else: ?>
                Există <?php echo $this->cheltuieli_count ?> <?php if ( $this->cheltuieli_count >= 20 ) echo ' de ' ?> cheltuieli înregistrate.

            <?php endif; ?>

        </div>

        <div class="actions-container">

            <?php if ( $this->cheltuieli_count ): ?>
                <input class="button compute-liste-button" type="button" value="Calculează Listele" />

                <input class="button recompute-liste-button" type="button" value="Recalculează Listele" />
                <a class="button close-month-button">Închide luna şi Printează Listele</a>
            <?php endif; ?>

        </div>

        <div class="liste-plata-error-container">
            <p>Calculul Listelor de Plată a generat urmatoarea eroare:</p>
            <div class="error"></div>
        </div>

        <div class="liste-plata-container module-page-container"></div>

    <?php else: ?>

        <div class="error">
            Listele vor putea fi calculate începând din luna <?php echo $this->lunaDeLucru(); ?>.
        </div>

    <?php endif; ?>

</div>

<script type="text/javascript">
$(function(){
    new Modules.ListaPlata( $('#lista-plata-module') );
});
</script>