<?php
    $Asociatie = $this->asociatie();

    $spatii = $this->spatii();
    $scari = $this->scari();
    $blocuri = $this->blocuri();

    $consumuri_disponibile_scara = App_Component_Consum_Scara_Factory::getInstance()->getConsumuriDisponibile();
    $consumuri_disponibile_spatiu = App_Component_Consum_Spatiu_Factory::getInstance()->getConsumuriDisponibile();

?>

<form id="consumuri-module" class="module-container" autocomplete="off">

    <div class="submit-container">
        <input class="button save-button" type="submit" value="Salvează" />

        <span class="general-error"></span>
    </div>

    <div class="consumuri-container module-page-container">

        <?php foreach( $scari as $scara_id => $scara ): ?>
        <div class="scara-container">

            <div class="scara-header">
                <div class="denumire-scara">
                    Bloc <?php echo $this->escape( $blocuri[ $scara[ App_Component_Scara_Object::PROP_BLOC_ID ] ][ App_Component_Bloc_Object::PROP_DENUMIRE ] ) ?>,
                    Scara <?php echo $this->escape( $scara[ App_Component_Scara_Object::PROP_DENUMIRE ] ) ?>
                </div>

            </div>

            <div class="consumuri-scara-container">
                <div class="instructions">Specificaţi consumurile indicate de contoarele<br />montate la intrarea în scară (dacă acestea există):</div>
                <table class="simple-layout">
                    <?php foreach( $consumuri_disponibile_scara as $cod_consum => $descriere_consum ): ?>
                    <?php $consum_scara = @$scara[ App_Component_Scara_Object::CONSUMURI ][ $cod_consum ]; ?>
                    <tr>
                        <td>
                            <?php echo $this->escape( $descriere_consum ) ?>:
                        </td>
                        <td class="consum-<?php echo $this->escape( $cod_consum ) ?>">
                            <input class="consum consum-scara"
                                   type="text"
                                   name="<?php echo $this->escape( App_Api_Consum_Add::ARG_SCARA ) ?>[<?php echo $this->escape( $scara_id ) ?>][<?php echo $this->escape( $cod_consum ) ?>]"
                                   value="<?php echo $this->escape( $consum_scara ) ?>"
                                   data-value="<?php echo $this->escape( $consum_scara ) ?>" /> mc
                        </td>
                    </tr>
                    <?php endforeach; ?>

                </table>

            </div>

            <div class="spatii-container">
                <table class="simple-layout">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <?php foreach( $consumuri_disponibile_spatiu as $cod_consum => $descriere_consum ): ?>
                            <td><?php echo $this->escape( $descriere_consum ); ?></td>
                            <?php endforeach; ?>
                        </tr>
                    </thead>

                    <tbody>
                    <?php foreach( $scara[ App_Component_Scara_Object::PROP_SPATII ] as $spatiu_id ): ?>
                        <?php $spatiu = $spatii[ $spatiu_id ] ?>
                        <tr>
                            <td class="nr-spatiu"><?php echo $this->escape( $spatiu[ App_Component_Spatiu_Object::PROP_NUMAR ] ) ?>.</td>
                            <td><?php echo $this->escape( $spatiu[ App_Component_Spatiu_Object::PARAMETRI ][ App_Component_SpatiuParametru_Factory::PARAMETRU_PROPRIETAR ] ) ?></td>

                            <?php foreach( $consumuri_disponibile_spatiu as $cod_consum => $descriere_consum ): ?>
                            <?php $consum_spatiu = @$spatiu[ App_Component_Spatiu_Object::CONSUMURI ][ $cod_consum ]; ?>
                            <td class="consum-<?php echo $this->escape( $cod_consum ) ?>">
                                <input class="consum consum-spatiu"
                                       type="text"
                                       name="<?php echo $this->escape( App_Api_Consum_Add::ARG_SPATIU); ?>[<?php echo $this->escape( $spatiu_id ); ?>][<?php echo $this->escape( $cod_consum ); ?>]"
                                       value="<?php echo $this->escape( $consum_spatiu ) ?>"
                                       data-value="<?php echo $this->escape( $consum_spatiu ) ?>" />
                            </td>
                            <?php endforeach; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>

                </table>
            </div>

        </div>
        <?php endforeach; ?>

    </div>

</form>

<script type="text/javascript">
$(function(){
    new Modules.Consumuri( $('#consumuri-module') );
});
</script>
