@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,700,700italic|Open+Sans:400italic,700italic,700,400);

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'), url(/css/fonts/Iceland.woff) format('woff');
}

html {
    background: #444 url(/img/app-bg.gif);
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1024px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13px;
    line-height: 150%;
}

body {
    bottom: 0;
    left: 0;
    margin: 0;
    min-height: 600px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: default !important;
}

:not(textarea):not(input) {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: inherit;
}

html a,
.ui-dialog .ui-dialog-content a {
    color: #005a00;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}

a:visited {
    color: #005a00;
}

a,
a:focus {
    outline: 0 none;
}

html label,
html label * {
    cursor: inherit;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.hidden {
    display: none;
}

/******************************************************************************/

.dialog,
.popup {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
}
/**** TABLE LAYOUT for displaying FORM FIELDS ****/


table.form-layout {
    
}

table.form-layout td {
    vertical-align: top;
}

table.simple-layout td {
    padding: 1px;
}

/*--- end of TABLE LAYOUT ---*/

.instructions {
    margin: 1em auto;
    text-align: justify;
}

.instruction-small {
    color: #606060;
    font-size: 0.86em;
    text-align: justify;
}

.note-small {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #444444;
    text-align: justify;
}

.alert-text {
    color: #ff0000;
    text-align: justify;
}

.error,
.error-field,
.error-container,
.general-error {
    font-size: 1em;
    color: red;
}

.has-error {
    /*box-shadow: 1px 1px 3px 1px coral;*/
}

#application-canvas {
    height: calc(100% - 20px);
    margin: 10px auto;
    position: relative;
    width: 998px;
    z-index: 0;
    display: none;
}

html .disabled-container {
    opacity: 0.5;
    cursor: not-allowed !important;
}

/******************************************************************************/

textarea,
input,
select,
span.ui-selectmenu-button.ui-widget {
    outline: none !important;
    margin: 0;
}

textarea,
input,
select,
option {
    font-family: inherit;
    font-size: inherit;
    vertical-align: baseline;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    resize: none;
}

input[type=checkbox],
input[type=radio] {
    vertical-align: middle;
    cursor: pointer;
}

input[type=text],
input[type=password],
select,
textarea,
span.ui-selectmenu-button.ui-widget {
    background-color: #FFFFE0;
    background-image: none;
    border-top: 1px solid #555555;
    border-right: 1px solid #959595;
    border-bottom: 1px solid #959595;
    border-left: 1px solid #555555;
    color: #000000;
}

input[type=text],
input[type=password],
select,
textarea,
.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 1px;
}

input[type=text],
input[type=password],
select,
.ui-selectmenu-button span.ui-selectmenu-text {
    line-height: 1.4;
}

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus,
span.ui-selectmenu-button.ui-widget.ui-state-focus {
    background-color: #ffffaa;
}

/******************************************************************************/

label >input[type=radio],
label >input[type=checkbox] {
    margin-right: 6px;
}

label.choice,
.choice > label {
    cursor: pointer;
}

/******************************************************************************/

.section-title {
    font-weight: bold;
    margin-bottom: 0.8em;
}

table.section-table-layout {
    width: 100%;
    
}

table.section-table-layout td {
    vertical-align: top;
    padding: 0.16em auto;
}

/******************************************************************************/

.template {
    display: none;
}

/******************************************************************************/

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: inherit !important;
    font-size: inherit !important;
}

.ui-dialog {
    box-shadow: 0 0 20px 2px;
    overflow: visible;
}

.ui-widget-overlay {
    width: 100% !important;
    height: 100% !important;
}

.ui-dialog .ui-dialog-content {
    background-color: #DADADA;
}

.ui-icon.ui-icon-info {
    background-image: url("images/ui-icons_2e83ff_256x240.png") !important;
}

.ui-dialog .ui-dialog-titlebar {
    background-image: linear-gradient(to bottom, #13BC4D, #038617);
    color: #FFFFFF;
}

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.ui-widget-content {
    border-color: #aaaaaa;
    background-color: #ffffff;
    background-image: url(images/ui-bg_flat_75_ffffff_40x100.png);
    color: #222222;
}

.ui-widget-content a {
	color: #222222;
}

.ui-widget-header {
	border-color: #aaaaaa;
	background-color: #cccccc;
	background-image: url(images/ui-bg_highlight-soft_75_cccccc_1x100.png);
	color: #222222;
}

.ui-widget-header a {
	color: #222222;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border-color: #d3d3d3;
	background-color: #e6e6e6;
	background-image: url(images/ui-bg_glass_75_e6e6e6_1x400.png);
	color: #555555;
        font-weight: normal;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border-color: #999999;
	background-color: #dadada;
	background-image: url(images/ui-bg_glass_75_dadada_1x400.png);
	color: #212121;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border-color: #aaaaaa;
	color: #212121;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border-color: #fcefa1;
	background-color: #fbf9ee;
	background-image: url("images/ui-bg_glass_55_fbf9ee_1x400.png");
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	background-color: #fef1ec;
	background-image: url("images/ui-bg_glass_95_fef1ec_1x400.png");
	color: #cd0a0a;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}

.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(images/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
	background-image: url(images/ui-icons_222222_256x240.png);
}
.ui-state-default .ui-icon {
	background-image: url(images/ui-icons_888888_256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url(images/ui-icons_454545_256x240.png);
}
.ui-state-active .ui-icon {
	background-image: url(images/ui-icons_454545_256x240.png);
}
.ui-state-highlight .ui-icon {
	background-image: url(images/ui-icons_2e83ff_256x240.png);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url(images/ui-icons_cd0a0a_256x240.png);
}

.ui-widget-overlay {
	background-color: #aaaaaa;
	background-image: url("images/ui-bg_flat_0_aaaaaa_40x100.png");
}

.ui-widget-shadow {
	background-color: #aaaaaa;
	background-image: url("images/ui-bg_flat_0_aaaaaa_40x100.png");
}

.ui-selectmenu-button {
    width: 1px;
    border-radius: 0 !important;
    padding-left: 4px;
    padding-right: 22px;
}

.ui-selectmenu-menu {
    box-shadow: 0 2px 4px 2px #8e8e8e;
}

span.ui-selectmenu-button .ui-selectmenu-button.ui-state-hover,
ul.ui-menu .ui-menu-item.ui-state-focus {
    font-weight: normal;
}

.ui-selectmenu-button span.ui-icon {
    background-image: url("images/ui-icons_222222_256x240.png");
    right: 2px;
}

.ui-selectmenu-menu >.ui-menu {
    width: 1px;
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-menu-item.placeholder {
    display: none !important;
}

/******************************************************************************/

.button {
    /*background-image: linear-gradient(to bottom, #1ABD4E, #00992A);*/
    background-image: linear-gradient(to bottom, #24c758, #008213);
    border: 1px solid #006C00;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px 0 #00A334;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 1.4em;
    padding: 2px 10px;
    text-decoration: none;
    text-align: center;
    -mox-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /*vertical-align: middle;*/
}

/*.button:hover {
    background-image: -moz-linear-gradient(to, #2CCF60, #12AB3C);
    background-image: -webkit-linear-gradient(to, #2CCF60, #12AB3C);
    background-image: linear-gradient(to bottom, #2CCF60, #12AB3C);
}

.button:active {
    background-image: -moz-linear-gradient(top, #12AB3C, #2CCF60);
    background-image: -webkit-linear-gradient(top, #12AB3C, #2CCF60);
    background-image: linear-gradient(to bottom, #12AB3C, #2CCF60);
}*/

.button.disabled,
.button[disabled] {
    background-image: linear-gradient(to bottom, #4ea42d, #46aa2c) !important;
    color: #d6d6d6 !important;
    cursor: default !important;
}

.button.delete-button,
.button.remove-button {
    background-image: linear-gradient(to bottom, #ff7e77, #c30707);
    border-color: #7d0000;
    box-shadow: 0 0 2px 0 #c30707;
    color: #e4e4e4;    
}

.button.edit-button {
    background-image: linear-gradient(to bottom, #45bceb, #456fe9);
    border-color: #4e4ed9;
    box-shadow: 0 0 2px 0 #0030a3;
}

/******************************************************************************/

.dialog {
    display: none;
}

/******************************************************************************/

#alert-dialog {
    
}

#confirm-dialog {
    
}

#alert-dialog,
#confirm-dialog {
    max-width: 500px;
}

#info-dialog {
    min-height: 0 !important;
}

#info-dialog .content {
    min-width: 300px;
    text-align: center;    
}

#confirm-dialog .content,
#alert-dialog .content {
    margin-bottom: 52px;
    margin-top: 1em;
    min-width: 300px;
    text-align: center;    
}

#confirm-dialog .buttons-container,
#alert-dialog .buttons-container {
    bottom: 0;
    left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    position: absolute;
    right: 0;
    text-align: center;
}

#confirm-dialog .buttons-delimiter {
    display: inline-block;
    width: 2em;
    height: 1px;
}

#info-dialog.warning {
    background-color: #ffab9a;
}

.info-ballon-dialog.ui-dialog {
    box-shadow: 0 0 20px 2px #00ecec;
}

.info-ballon-dialog.ui-dialog >.ui-dialog-content {
    background-color: #00b9ff;
    border: 1px solid #008a00;
}


/*****/

.container-mask,
.loading-mask {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: visible !important;
}

.loading-mask .progress-indicator {
    background-color: white;
    background-image: url("/img/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 30px;
    box-shadow: 0 0 100px 100px #ffffff;
    height: 31px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 31px;
}

/*.loading-contents >* {
    visibility: hidden;
}*/

/********/

.tabs-container {
    
}

.tabs-container .tab-item-wrapper {
    float: left;
    margin-right: 4px;
    padding: 0 14px;
    text-decoration: none;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
    border-radius: 5px 5px 0 0;
}

.tabs-container .tab-item-wrapper.disabled {
    cursor: not-allowed !important;
}

.tabs-container .tab-item-wrapper.current {

}

/*****************************/

.panes-container:not(.inline),
.panes-container:not(.inline) > *,
.fit-max-wrapper,
.module-page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.panes-container > * {
    overflow: auto;
    display: none;
}

.panes-container.inline > * {
    overflow: initial;
}

/*****************************/

.container-view {
    visibility: hidden;
}

/******************************************************************************/

.operating-dialog {
    position: relative;
    text-align: justify;
    padding: 0 !important;
}

.operating-dialog .ui-dialog-content,
.operating-dialog .dialog-content {
    position: absolute;
    overflow: auto;
    bottom: 5em;
    left: 0;
    padding: 0 0.8em;
    right: 0;
    top: 1.4em;
    background-color: #dadada;
}

.operating-dialog .buttons-container {
    position: absolute;
    bottom: 1.6em;
    left: 0;
    right: 0;
    text-align: center;
}

.operating-dialog .buttons-container > .button:not(:last-child) {
    margin-right: 2em;
}

/******************************************************************************/

.application-tooltip {
    font-size: 0.86em;
    text-align: justify;
}

/******************************************************************************/

.help-icon,
.delete-icon,
.edit-icon,
.delete-icon-big,
.info-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
}

.help-icon:not(.static),
.delete-icon:not(.static),
.edit-icon:not(.static),
.delete-icon-big:not(.static) {
    cursor: pointer;
}

.help-icon,
.edit-icon {
    background-image: url("images/ui-icons_2e83ff_256x240.png") !important;
}

.help-icon {
    border: 1px solid #2e83ff;
    background-position: -48px -144px;
    border-radius: 10px;
}

.instruction-small .help-icon {
    background-position: -50px -146px;
    width: 12px;
    height: 12px;
    vertical-align: text-top;
}

.edit-icon {
    background-position: -64px -112px;
}

.delete-icon,
.edit-icon,
.delete-icon-big {
    border: 1px solid transparent;
    border-radius: 3px;
    vertical-align: middle;
}

.edit-icon:hover:not(.static) {
    border-color: #2e83ff;
}

.delete-icon,
.delete-icon-big {
    background-image: url("images/ui-icons_cd0a0a_256x240.png") !important;
}

.delete-icon {
    background-position: -80px -128px;
}

.delete-icon-big {
    background-position: -96px -128px;
}

.delete-icon:hover:not(.static),
.delete-icon-big:hover:not(.static) {
    border-color: #cd0a0a;
}

.instruction-small .delete-icon {
    border-color: #888888;
    vertical-align: sub;
    background-image: url("images/ui-icons_888888_256x240.png") !important;
    background-position: -81px -129px;
    height: 14px;
    width: 15px;
}

.info-icon {
    background-image: url("images/ui-icons_00992a_256x240.png") !important;
    background-position: -16px -144px;
}

.instruction-small .info-icon,
.instruction-small .edit-icon {
    vertical-align: text-bottom;
    cursor: inherit;
    border-color: transparent !important; 
}

.instruction-small .info-icon {
    margin-bottom: 0;
}
.instruction-small .edit-icon {
    margin-bottom: -1px;
}

