<div id="add-contor-energie_electrica-dialog" class="dialog operating-dialog" title="Adaugă un contor de energie electrică">

    <div class="dialog-content">
        <?php echo $this->includeView( 'contor-form.phtml' ) ?>
    </div>
    
    <div class="buttons-container">
        <input type="button" class="button done-button" value="Adaugă" />
        <a class="cancel-button">Renunță</a>
    </div>
    
</div>