<div class="template contor contor-view">
    
    <div class="edit-button-wrapper">
        <div class="edit-button edit-icon"></div>
    </div>
    
    <div class="denumire-line">
        <span class="denumire"></span>: <span class="scari-deservite"></span>.
    </div>
    
    <div class="scutiri"></div>
    
    <div class="template instalatie"></div>

</div>

<?php echo $this->includeView( 'edit-contor-dialog.phtml', [ 'once' => TRUE ] );