<form class="contor-energie_electrica-form" autocomplete="off">

    <div class="form-element denumire">
        <?php if( $this->mode === 'edit' ): ?>
            Denumirea atribuită contorului
        <?php else: ?>
            Atribuiţi o denumire preferenţială pentru acest contor (de ex. "Contor casa scării", "Contor ascensor")
        <?php endif; ?>
            :<br />
        <input type="text" class="denumire-contor" />
    </div>

    <div class="form-element scari">
        <span class="select-scari-message">
        <?php if( $this->mode === 'edit' ): ?>
            Scara sau scările deservite de instalaţiile conectate la acest contor
        <?php else: ?>
            Specificaţi scara sau scările deservite de instalaţiile conectate la acest contor
        <?php endif; ?>
        </span>:<br />
        <div class="scari-list clearfix">
            <div class="template scara">
                <label class="choice">
                    <input type="checkbox" class="select-scara" /><span class="denumire-scara"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="form-element scutire">
        <div class="scutire-question">
            Există instalaţii electrice conectate la acest contor pentru care anumite persoane sunt scutite de la plata consumului de energie electrică?
            <label class="choice yes-choice">
                <input class="scutire-check" type="radio" name="_scutire-energie_electrica" value="1" />DA 
            </label>
            <label class="choice no-choice">
                <input class="scutire-check" type="radio" name="_scutire-energie_electrica" value="0" />NU
            </label>
        </div>

        <div class="scutire-data">

            <div class="instalatii-list"></div>

            <div class="template instalatie-form">
                <div class="remove-button-wrapper">
                    <div class="remove-instalatie-button delete-icon"
                         title="Eliminaţi această instalaţie"></div>
                </div>
                <div class="form-element">
                    Denumirea instalaţiei: 
                    <input type="text" class="denumire-instalatie" />
                </div>
                <div class="form-element">
                    Valoarea estimată a consumului acestei instalaţii, raportată la valoarea consumului total:
                    <input type="text" class="valoare-estimata-instalatie" />%
                </div>
                <div class="form-element">
                    <a class="select-spatii">
                        <span class="select-text">Selectaţi apartamentele în care locuiesc persoanele scutite de la plata consumului</span>
                        <span class="select-summary" title="Selectaţi apartamentele în care locuiesc persoanele scutite de la plata consumului"></span>
                    </a>
                </div>
            </div>

            <div class="add-instalatie-wrapper">
                <a class="add-instalatie">adaugă încă o instalaţie</a>
            </div>

        </div>
    </div>

</form>
