<div id="edit-contor-energie_electrica-dialog" class="dialog operating-dialog" title="Modificaţi un contor de energie electrică">

    <div class="dialog-content">
        <?php echo $this->includeView( 'contor-form.phtml', [ 'params' => [ 'mode' => 'edit' ] ] ) ?>
    </div>
    
    <div class="buttons-container">
        <input type="button" class="button done-button" value="Salvează modificările" />
        <input type="button" class="button delete-button" value="Elimină contorul" />
        <a class="cancel-button">Renunță</a>
    </div>
    
</div>