<div class="page-section contoare-section">

    <div class="section-title">
        Contoare
    </div>

    <div class="section-content">
        
        <div class="add-button-wrapper">
            <input type="button" class="button add-contor-button" value="Adaugă un contor" />
        </div>
        
        <div class="counter-text"></div>
        
        <div class="contoare-list-frame">
            <div class="instruction-small edit-instruction">
                <span class="info-icon"></span>
                Pentru modificarea datelor sau eliminarea unui contor folosiţi butonul
                <span class="edit-icon"></span>.
            </div>
            
            <div class="list-content"></div>
            
            <?php echo $this->includeView( 'contor-item-template.phtml' ) ?>
        </div>

        
        <?php echo $this->includeView( 'add-contor-dialog.phtml' ) ?>
        
    </div>

</div>