<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Zend Framework Default Application</title>
    </head>
    <body>
        <h1>An error occurred</h1>
        <h2><?php echo $this->message ?></h2>

        <h3>Request Parameters:</h3>
        <pre><?php echo var_export($this->request->getParams(), true) ?>
        </pre>

        <?php if (isset($this->exception)): ?>
            <?php $exception = $this->exception ?>
            <?php /* @var $exception Exception */  ?>

            <h3>Exception information:</h3>

            <div>
                <b>Exception Class:</b> <?php echo get_class($exception) ?>
            </div>

            <div>
                <b>Message:</b> <?php echo $exception->getMessage() ?>
            </div>

            <div>
                <b>File:</b> <?php echo $exception->getFile() ?>
            </div>

            <div>
                <b>Line:</b> <?php echo $exception->getLine() ?>
            </div>

            <div>
                <br />
                <b>Trace:</b>
                <pre><?php print_r($exception->getTraceAsString()) ?>
                </pre>
            </div>

        <?php endif ?>

    </body>
</html>
