<?php
    $Asociatie = $this->asociatie();

    $spatii = $this->spatii();
    $scari = $this->scari();
    $blocuri = $this->blocuri();

    $cheltuieli_aditionale = App_Component_SpatiuParametru_Factory::getCheltuieliAditionale();
?>

<form id="cheltuieli-aditionale-module" class="module-container" autocomplete="off">

    <div class="submit-container">
        <input class="button save-button" type="submit" value="Salvează" />

        <span class="general-error"></span>
    </div>

    <div class="cheltuieli-page-container module-page-container">

        <?php foreach( $scari as $scara_id => $scara ): ?>
        <div class="scara-container">

            <div class="scara-header">
                <div class="denumire-scara">
                    Bloc <?php echo $this->escape( $blocuri[ $scara[ App_Component_Scara_Object::PROP_BLOC_ID ] ][ App_Component_Bloc_Object::PROP_DENUMIRE ] ) ?>,
                    Scara <?php echo $this->escape( $scara[ App_Component_Scara_Object::PROP_DENUMIRE ] ) ?>
                </div>

            </div>

            <div class="spatii-container">
                <table class="simple-layout">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <?php foreach( $cheltuieli_aditionale as $cod_cheltuiala => $descriere_cheltuiala ): ?>
                            <td><?php echo $this->escape( $descriere_cheltuiala ); ?></td>
                            <?php endforeach; ?>
                        </tr>
                    </thead>

                    <tbody>
                    <?php foreach( $scara[ App_Component_Scara_Object::PROP_SPATII ] as $spatiu_id ): ?>
                        <?php $spatiu = $spatii[ $spatiu_id ] ?>
                        <tr>
                            <td class="nr-spatiu"><?php echo $this->escape( $spatiu[ App_Component_Spatiu_Object::PROP_NUMAR ] ) ?>.</td>
                            <td><?php echo $this->escape( $spatiu[ App_Component_Spatiu_Object::PARAMETRI ][ App_Component_SpatiuParametru_Factory::PARAMETRU_PROPRIETAR ] ) ?></td>

                            <?php foreach( $cheltuieli_aditionale as $cod_cheltuiala => $descriere_cheltuiala ): ?>
                            <?php $valoare_cheltuiala = @$spatiu[ App_Component_Spatiu_Object::PARAMETRI ][ $cod_cheltuiala ]; ?>
                            <td class="valoare-<?php echo $this->escape( $cod_cheltuiala ) ?>">
                                <input class="valoare valoare-spatiu"
                                       type="text"
                                       name="<?php echo $this->escape( App_Api_CheltuieliAditionale_Add::ARG_SPATIU); ?>[<?php echo $this->escape( $spatiu_id ); ?>][<?php echo $this->escape( $cod_cheltuiala ); ?>]"
                                       value="<?php echo $this->escape( $valoare_cheltuiala ) ?>"
                                       data-value="<?php echo $this->escape( $valoare_cheltuiala ) ?>" />
                            </td>
                            <?php endforeach; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>

                </table>
            </div>

        </div>
        <?php endforeach; ?>

    </div>

</form>

<script type="text/javascript">
$(function(){
    new Modules.CheltuieliAditionale( $('#cheltuieli-aditionale-module') );
});
</script>
