<form>
    <input type="hidden" name="<?php echo App_Api_Bloc_Remove::ARG_BLOC_ID ?>" />

    <div>Doriți să eliminați blocul <span class="bloc-label"></span>?</div>

    <div class="actions-container">
        <input class="button confirm-button" type="submit" value="Da" />
        <input class="button cancel-button" type="button" value="Nu" />
    </div>

    <div class="instructions">
        <div class="select-bloc">Doriți să eliminați alt bloc? Nimic mai simplu: selectați de mai sus denumirea blocului dorit.</div>
    </div>
    
</form>
