<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <title><?php echo $this->escape( Lib_Application::getInstance()->getConfig( ['app', 'title'] ) ) ?></title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="description" content="acap.ro, calcul liste de plata, program administrare imobile, program administrare bloc, program administrator imobile, program administrator bloc, software administrare imobile, program asociatii de proprietari, program administrare asociatii de proprietari, administrare imobile, administrare asociatii, asociatii de proprietari" />
        <meta name="keywords" content="acap.ro, locatar, locatari, proprietar, proprietari, program calcul liste, liste de plata, program administrator bloc, program administrare bloc, program administrator, program administrare asociatii de proprietari, program liste intretinere, program cote contributie, program asociatii proprietari, administrare imobile, program web, aplicatie web, program administrare imobile, aplicatie administrare imobile, program contabilitate imobile, software administrare imobile, program administrare asociatii, registru de casa, penalizari, fond de rulment, fond de reparatii" />

    </head>

    <body>
        
        <div id="body-overlay" style="width: 100%; height: 100%; text-align: center; position: absolute; z-index: 1; background-color: #DADADA;">
            <img src="/img/app_loader.png" style="display: none; position: absolute; top: 50%; left: 50%; margin-top: -64px; margin-left: -44px;" onload="this.style.display='inline-block'" />
        </div>
        
        <?php if( Lib_Application::getInstance()->getConfig( 'analytics_tracking' ) ): ?>
            <?php echo $this->includeView( '../scripts/analytics_tracking.php' ); ?>
        <?php endif; ?>
        
        <div id="application-canvas">
            <?php echo $this->layout()->content ?>
        </div>
        
        <?php echo $this->includeView( '../components/container_mask.phtml' ); ?>
        <?php echo $this->includeView( '../components/loading_mask.phtml' ); ?>
        <?php echo $this->includeView( '../components/alert.phtml' ); ?>
        <?php echo $this->includeView( '../components/confirm.phtml' ); ?>
        <?php echo $this->includeView( '../components/info.phtml' ); ?>
        
        <?php echo $this->loadCss( $this->resource_path ); ?>
        <?php echo $this->loadJs( $this->resource_path ); ?>

    </body>
    
</html>