<div id="add-cheltuiala-dialog" title="Adăugaţi o cheltuială" class="operating-dialog">
    
    <div class="dialog-content">
        
        <div class="categorii-cheltuieli-choices-wrapper">
            <div class="instructions select-choice">Alegeţi categoria cheltuielii:</div>

            <div class="categorii-cheltuieli-choices clearfix">
            <?php 
                $panes = [];
                foreach( $this->categorii_cheltuieli as $categorie_data )
                {
                    $denumire   = $categorie_data[ App_Component_CheltuialaCategorie_Object::PROP_DENUMIRE ];
                    $categorie  = $categorie_data[ App_Component_CheltuialaCategorie_Object::PROP_CATEGORIE ];
                    
                    $panes[ $categorie ] = 'categorii_cheltuiala/' . $categorie . '.phtml';
                ?>
                
                <div class="categorie-cheltuiala-choice choice">
                    <label>
                        <input type="radio" tabindex="-1" name="_categorie-cheltuiala" value="<?php echo $categorie ?>" /><?php echo $this->escape( $denumire ) ?>
                    </label>
                </div>
            <?php } ?>
            </div>
        </div>

        <?php 
            echo $this->panes( $panes , [
                'css_class'     => 'categorii-cheltuieli-panes-wrapper inline container-view'
            ]); 
        ?>
        
    </div>
    
    <div class="buttons-container">
        <input type="button" class="button done-button" value="Adaugă" />
        <a class="cancel-button">Renunță</a>
    </div>
    
    <?php echo $this->includeView( 'cheltuieli/components/confirm-cheltuiala/dialog.phtml', [ 'relative' => false ] ); ?>
    
</div>
