<form autocomplete="off">
    <input type="hidden" name="<?php echo App_Api_Scara_Edit::ARG_SCARA_ID ?>" />

    <div class="fields-container clearfix">
        <div class="field-container denumire">
            <div class="label">Denumire</div>
            <div>
                <input type="text" class="denumire-field" name="<?php echo App_Api_Scara_Edit::ARG_DENUMIRE ?>" />
            </div>
        </div>

        <div class="field-container adresa">
            <div class="label">Adresa</div>
            <div>
                <input type="text" class="adresa-field" name="<?php echo App_Api_Scara_Edit::ARG_ADRESA ?>" />
            </div>
        </div>
    </div>

    <div class="actions-container">
        <input class="button" type="submit" value="Salvează" />
    </div>

    <div class="instructions">
        <div class="select-scara">Doriți să modificați altă scară? Nimic mai simplu: selectați de mai sus denumirea scării dorite.</div>
    </div>

</form>

