#signup-module {

}

.signup-form .label {
    width: 160px;
}
.signup-form .field-container input {
    width: 220px;
}
.signup-form .label,
.signup-form .field-container input {
    padding-bottom: 4px;
}

#signup-module .back-container {
    margin-top: 2em;
}