<div class="cheltuiala-ascensoare-details-frame tip-cheltuiala-details-frame">

    <div class="section details-section">
        
        <div class="section-title">
            Informaţiile despre factură
        </div>

        <div class="section-content">
            <table class="section-table-layout">
                
                <tr>
                    <td class="label">Tip cheltuială:</td>
                    <td class="value-element tip-cheltuiala">
                        <?php echo App_Component_CheltuialaTip_Factory::getInstance()->getDenumireTip( $this->tip_cheltuiala ) ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">Descriere:</td>
                    <td class="value-element descriere"></td>
                </tr>
                <tr>
                    <td class="label">Furnizor:</td>
                    <td class="value-element furnizor"></td>
                </tr>
                <tr>
                    <td class="label">Serie/număr:</td>
                    <td class="value-element document"></td>
                </tr>
                <tr>
                    <td class="label">Data emiterii:</td>
                    <td class="value-element data"></td>
                </tr>
                <tr>
                    <td class="label">Scadenţa:</td>
                    <td class="value-element scadenta"></td>
                </tr>
                <tr>
                    <td class="label">Valoare facturată:</td>
                    <td class="value-element valoare"></td>
                </tr>
                <tr>
                    <td class="label">Se achită din:</td>
                    <td class="value-element fond"></td>
                </tr>
                <tr class="coloana-row">
                    <td class="label">Coloana:</td>
                    <td class="value-element coloana"></td>
                </tr>
                
                <tr class="template ascensoare-scara">
                    <td class="label denumire-scara"></td>
                    <td class="value-element">
                        <span class="valoare-serviciu"></span>
                        <span class="repartizare"></span>
                    </td>
                </tr>
                
            </table>
            
        </div>
        
    </div>
        
    <div class="section contributii-section">
        
        <div class="section-title">
            Cotele de contribuţie calculate pentru fiecare apartament
        </div>

        <div class="section-content">
            <?php echo $this->includeView( 'cheltuieli/components/spatii/list.phtml', [ 'relative' => false ] ) ?>
        </div>
        
    </div>
    
    
</div>
