<form class="cheltuiala-ascensoare-form-frame tip-cheltuiala-form-frame" autocomplete="off">
    
    <?php if( $this->mode != 'edit' ): ?>
    
        <div class="instruction-small instruction-regulament">
            Repartizarea acestor cheltuieli se fac în funcţie de cota-parte indiviză de proprietate, conform H.G.1588/2007, art. 43, 44, 45, 46. 
        </div>

        <div class="instruction-small instruction-info">
            Pentru explicaţii despre modul de completare a informaţiilor mutaţi mouse-ul în dreptul semnelor <span class="help-icon"></span>.
        </div>
    
    <?php endif; ?>
    
    <div class="instruction-small instruction-info">
        Pentru modificarea informațiilor specifice ascensoarelor accesați pagina <a class="goto-config">Configurare</a>.
    </div>
    
    <div class="cheltuiala-form">
        <table class="form-layout">
            
            <tr>
                <td class="label">Descriere:</td>
                <td class="field-container">
                    <input type="text" 
                           name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DESCRIERE ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Descrierea serviciului facturat. <br />
                                Ex.: 'Factură întreţinere pentru luna Martie 2015', 'Taxă de autorizare CNCIR'.<br /><br />
                                Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::DESCRIERE_MAX_LENGTH, 'caracter' ) ?>.">
                    </span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Furnizor:</td>
                <td class="field-container">
                    <input type="text" 
                           name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_FURNIZOR ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Denumirea persoanei fizice sau juridice care se ocupă de întreţinerea ascensoarelor.<br /><br />
                                Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::FURNIZOR_MAX_LENGTH, 'caracter' ) ?>.">
                    </span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Serie/număr:</td>
                <td class="field-container">
                    <input type="text" 
                           name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DOCUMENT ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Seria şi numărul facturii.<br /><br />
                                Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::DOCUMENT_MAX_LENGTH, 'caracter' ) ?>.">
                    </span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Data facturii:</td>
                <td class="field-container">
                    <input type="text" 
                           name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DATA ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Data la care a fost emisă factura.">
                    </span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Scadenţa:</td>
                <td class="field-container">
                    <input type="text" 
                           name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_SCADENTA ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Termenul de plată a facturii. După această dată furnizorul va aplica penalizări de întârziere.">
                    </span>
                </td>
            </tr>
            
            <tr class="valoare">
                <td class="label">Valoarea facturată:</td>
                <td class="field-container">
                    <span class="valoare-placeholder">Se determină automat</span>
                    <span class="valoare-value"></span>
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Valoarea facturii curente se determină automat prin însumarea valorilor serviciilor aferente fiecărei scări. 
                                Valoarea facturii curente nu conţine plăţi în avans, restanţe sau penalizări.">
                    </span>
                </td>
            </tr>
            
            <tr class="fond-row">
                <td class="label">Se achită din:</td>
                <td class="field-container">
                    <select class="fond-plata-input"
                            name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_FOND ?>">
                    </select>
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Selectaţi fondul din care se achită factura.">
                    </span>
                </td>
            </tr>
            
            <tr class="repartizare-proprietari-row">
                <td class="label"></td>
                <td class="field-container">
                    <label class="choice">
                        <input class="repartizare-proprietari-checkbox" type="checkbox" />se repartizează proprietarilor
                    </label>
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Bifaţi dacă suma se repartizează proprietarilor, caz în care suma va apărea în lista de plată."></span>
                </td>
            </tr>
            
            <tr class="coloana-row">
                <td class="label">Coloana:</td>
                <td class="field-container">
                    
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Cheltuiala va apărea în lista de plată pe coloana afişată."></span>
                </td>
            </tr>
            
            <?php echo $this->includeView( 'form-ascensor-template.phtml' ) ?>
            
        </table>
        
    </div>
    
</form>
