<tr class="template ascensoare-scara">
    
    <td class="label denumire-scara"></td>
    
    <td class="field-container" colspan="2">
        <table class="form-layout">
            
            <tr class="valoare-container">
                <td class="label">Valoare:</td>
                <td class="field-container">
                    <input type="text" class="valoare-serviciu-input" />
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Completaţi valoarea serviciului aferent scării respective (valoarea este un număr 
                                diferit de zero, cu cel mult <?php echo Lib_Validator_Abstract::FLOAT_PRECISION ?> zecimale, 
                                cuprins între <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MIN_LIMIT, 0 ) ?> 
                                şi <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MAX_LIMIT, 0 ) ?>,
                                iar separatorul de zecimale este virgula).">
                    </span>
                </td>
            </tr>
            
            <tr class="repartizare-container">
                <td class="label">Repartizare:</td>
                <td class="field-container">
                    <?php echo $this->includeView( 'cheltuieli/components/spatii/repartizare-scara.phtml', [ 'relative' => false ] ); ?>
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="După caz, puteţi specifica doar anumite apartamente la care se repartizează
                                acest serviciu folosind butonul <span class='select-spatii-button'></span>."></span>
                </td>
            </tr>
            
        </table>
    </td>
    
</tr>
