<div id="confirm-cheltuiala-dialog" title="Confirmaţi înregistrarea cheltuielii" class="operating-dialog">
    
    <div class="ui-dialog-content">
        
        <?php 
            $panes = [];
            foreach( $this->tipuri_cheltuieli as $tip_data )
            {
                $tip = $tip_data[ App_Component_CheltuialaTip_Object::PROP_TIP ];

                $panes[ $tip ] = 'tipuri-cheltuiala/' . $tip . '.phtml';
            }
            
            echo $this->panes( $panes , [
                'css_class'     => 'tipuri-cheltuieli-panes-wrapper inline container-view'
            ]); 
        ?>
        
    </div>
    
    <div class="buttons-container">
        <input type="button" class="button done-button" value="Înregistrează" />
        <input type="button" class="button edit-button" value="Modifică" />
        <a class="cancel-button">Renunță</a>
    </div>
    
    
</div>
