<div class="cheltuiala-energie_electrica-details-frame tip-cheltuiala-details-frame">

    <div class="section details-section">
        
        <div class="section-title">
            Informaţiile despre factură
        </div>

        <div class="section-content">
            <table class="section-table-layout">
                <tr>
                    <td class="label">Descriere:</td>
                    <td class="value-element descriere"></td>
                </tr>
                <tr>
                    <td class="label">Furnizor:</td>
                    <td class="value-element furnizor"></td>
                </tr>
                <tr>
                    <td class="label">Serie/număr:</td>
                    <td class="value-element document"></td>
                </tr>
                <tr>
                    <td class="label">Data emiterii:</td>
                    <td class="value-element data"></td>
                </tr>
                <tr>
                    <td class="label">Scadenţa:</td>
                    <td class="value-element scadenta"></td>
                </tr>
                <tr>
                    <td class="label">Valoare:</td>
                    <td class="value-element valoare"></td>
                </tr>
                <tr>
                    <td class="label">Coloana:</td>
                    <td class="value-element coloana">Energie electrică</td>
                </tr>
                <tr>
                    <td class="label">Contor:</td>
                    <td class="value-element contor"></td>
                </tr>
                <tr>
                    <td class="label">Repartizată la:</td>
                    <td class="value-element repartizare">
                        <div class="scari-container"></div>
                        <div class="scutiri-container"></div>
                        
                        <div class="template instalatie">
                            <span class="index"></span>)
                            persoane scutite de la plata consumului pentru
                            "<span class="denumire"></span>"
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
        
    <div class="section contributii-section">
        
        <div class="section-title">
            Cotele de contribuţie calculate pentru fiecare apartament
        </div>

        <div class="section-content">
            <?php echo $this->includeView( 'cheltuieli/components/spatii/list.phtml', [ 'relative' => false ] ) ?>
        </div>
        
    </div>
    
</div>
