<form class="cheltuiala-gaze_naturale-form-frame tip-cheltuiala-form-frame" autocomplete="off">
    
    <?php if( $this->mode != 'edit' ): ?>
    
        <div class="instruction-small instruction-regulament">
            Repartizarea acestei facturi se face în funcţie de numărul de persoane, conform H.G.1588/2007, art. 34, 35. 
            Factura va apărea în lista de plată pe coloana "Gaze naturale", sub rubrica "Cheltuieli pe număr de persoane".
        </div>
    
        <div class="instruction-small instruction-info">
            Pentru explicaţii despre modul de completare a informaţiilor mutaţi mouse-ul în dreptul semnelor <span class="help-icon"></span>.
        </div>
    
    <?php endif; ?>
    
    <div class="instruction-small instruction-info">
        Pentru modificarea informațiilor specifice gazelor naturale accesați pagina <a class="goto-config">Configurare</a>.
    </div>
    
    <div class="cheltuiala-form">
        
        <table class="form-layout">
            
            <tr>
                <td class="label">Descriere:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DESCRIERE ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Descrierea serviciului facturat. <br />
                    Ex.: 'Factură pentru luna Martie 2015'.<br /><br />
                    Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::DESCRIERE_MAX_LENGTH, 'caracter' ) ?>."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Furnizor:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_FURNIZOR ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Denumirea companiei care furnizează gazele naturale.<br /><br />
                    Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::FURNIZOR_MAX_LENGTH, 'caracter' ) ?>."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Serie/număr:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DOCUMENT ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Seria şi numărul facturii.<br /><br />
                    Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::DOCUMENT_MAX_LENGTH, 'caracter' ) ?>."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Data emiterii:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DATA ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Data la care a fost emisă factura."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Scadenţa:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_SCADENTA ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Termenul de plată a facturii. După această dată furnizorul va aplica penalizări de întârziere."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Valoarea facturată:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_VALOARE ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Se completează valoarea facturii curente, fără eventuale plăţi în avans, restanţe sau penalizări.<br /><br />
                    Valoarea este un număr diferit de zero, cu cel mult <?php echo Lib_Validator_Abstract::FLOAT_PRECISION ?> zecimale, 
                    cuprins între <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MIN_LIMIT, 0 ) ?> 
                    şi <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MAX_LIMIT, 0 ) ?>,
                    iar separatorul de zecimale este virgula."></span>
                </td>
            </tr>

            <tr>
                <td class="label">Branşament:</td>
                <td class="field-container">
                    <select name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_BRANSAMENT ?>"
                            placeholder="">
                    </select>
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Selectaţi din listă branşamentul pentru care a fost emisă factura de gaze naturale.">
                    </span>
                </td>
            </tr>
            
            <tr class="repartizare-section">
                <td class="label">Repartizare:</td>
                <td class="field-container">
                    <?php echo $this->includeView( 'cheltuieli/components/spatii/repartizare-scara.phtml', [ 'relative' => false ] ); ?>
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Specificaţi apartamentele conectate la punctul de consum specificat."></span>
                </td>
            </tr>

        </table>
        
    </div>
   
</form>
