<div class="cheltuiala-salarii-form-frame tip-cheltuiala-form-frame">

    <form class="cheltuiala-form" autocomplete="off">
        <table class="form-layout">
            
            <tr>
                <td class="label">Descriere:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_DESCRIERE ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Descrierea serviciului. <br />
                                Ex.: 'Salariu', 'Indemnizaţie'.<br /><br />
                                Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::DESCRIERE_MAX_LENGTH, 'caracter' ) ?>."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Beneficiar:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_BENEFICIAR ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Denumirea persoanei care este plătită.<br /><br />
                    Termenul poate să conţină cel mult <?php echo Lib_Grammar::pluralize( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::BENEFICIAR_MAX_LENGTH, 'caracter' ) ?>."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Valoare:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_VALOARE ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Se completează costul total suportat de asociaţie (include valoarea netă care se achită beneficiarului şi, după caz, taxe şi impozite).<br /><br />
                                Valoarea este un număr diferit de zero, cu cel mult <?php echo Lib_Validator_Abstract::FLOAT_PRECISION ?> zecimale, 
                                cuprins între <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MIN_LIMIT, 0 ) ?> 
                                şi <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MAX_LIMIT, 0 ) ?>,
                                iar separatorul de zecimale este virgula."></span>
                </td>
            </tr>
            
            <tr>
                <td class="label">Taxe şi impozite:</td>
                <td class="field-container">
                    <input type="text" name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_TAXE ?>" />
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Se completează valoarea taxelor şi impozitelor dacă acestea se aplică şi dacă asociaţia este responsabilă pentru achitarea acestora către stat.<br /><br />
                                Valoarea este un număr diferit de zero, cu cel mult <?php echo Lib_Validator_Abstract::FLOAT_PRECISION ?> zecimale, 
                                cuprins între <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MIN_LIMIT, 0 ) ?> 
                                şi <?php echo Lib_Tools::formatNumber( App_Component_Cheltuiala_Validator_Parametri_TipCheltuiala_Abstract::VALOARE_MAX_LIMIT, 0 ) ?>,
                                iar separatorul de zecimale este virgula."></span>
                </td>
            </tr>
            
            <tr class="fond-section">
                <td class="label">Achitată din:</td>
                <td class="fonduri-container field-container">
                    <select class="fond-plata-input"
                            name="<?php echo App_Component_CheltuialaParametru_Factory::PARAMETRU_FOND ?>">
                    </select>
                </td>
                <td class="info-field">
                    <span class="help-icon" title="Selectaţi fondul din care se achită cheltuiala."></span>
                </td>
            </tr>
            
            <tr class="repartizare-proprietari-section">
                <td class="label"></td>
                <td class="field-container">
                    <label class="choice">
                        <input class="repartizare-proprietari-checkbox" type="checkbox" />se repartizează proprietarilor
                    </label>
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Bifaţi dacă suma se repartizează proprietarilor, caz în care acesta va apărea în lista de plată."></span>
                </td>
            </tr>
            
            <tr class="coloana-section">
                <td class="label">Coloana:</td>
                <td class="field-container">
                    
                </td>
                <td class="info-field">
                    <span class="help-icon" 
                          title="Cheltuiala va apărea în lista de plată pe coloana afişată."></span>
                </td>
            </tr>
            
            <tr class="repartizare-section">
                <td class="label">Repartizare la:</td>
                <td class="field-container">
                    <?php echo $this->includeView( 'cheltuieli/components/spatii/repartizare-asociatie.phtml', [ 'relative' => false ] ); ?>
                </td>
                <td class="info-field">
                    <span class="help-icon" title="După caz, cheltuiala poate fi repartizată doar unor blocuri, scări, sau apartamente.<br /><br />
                    Selectarea apartamentelor dintr-o anumită scară se efectueză prin apăsarea butonului 
                    <span class='select-spatii-button'></span> din dreptul scării dorite."></span>
                </td>
            </tr>
            
        </table>
    </form>
    
</div>
