<div class="spatii-list-pane">
    
    <div class="instructions">
        <div>- Selectați apartamentul pe care doriți să îl eliminați.</div>
        <div class="select-scara">- Apartamentul nu se găsește în această scară? Selectați de mai sus denumirea scării dorite.</div>
    </div>
    
    <?php echo $this->includeView( '../view-list/list.phtml' ); ?>
    
    <div class="confirm-frame">
        <form>
            <input type="hidden" name="<?php echo App_Api_Spatiu_Remove::ARG_SPATIU_ID ?>" />

            <div>Doriți să eliminați apartamentul <span class="spatiu-numar"></span> ?</div>

            <div class="actions-container">
                <input class="button confirm-button" type="submit" value="Da" />
                <input class="button no-button" type="button" value="Nu" />
            </div>
        </form>
    </div>
    
    
</div>

