<?php
    $blocuri = $this->blocuri();
    $scari = $this->scari();
    $spatii = $this->spatii();

    $coloane_incasari = $this->coloaneIncasari();
?>

<form id="add-incasari-module" autocomplete="off">

    <ul class="sections-layout">

        <li class="section section-spatiu field-container">
            <span class="label">De la:</span>

            <span class="select-spatiu-container">

                <span class="bloc-container">
                    Bl.
                    <select class="bloc-select-element">
                        <option value=""></option>
                    <?php foreach( $blocuri as $bloc_id => $bloc ): ?>
                        <option value="<?php echo $this->escape( $bloc_id ) ?>"><?php echo $this->escape( $bloc[ App_Component_Bloc_Object::PROP_DENUMIRE ] ) ?></option>
                    <?php endforeach; ?>
                    </select>
                </span>

                <span class="scara-container">
                    Sc.
                    <select class="scara-select-element">
                        <option value=""></option>
                    <?php foreach( $scari as $scara_id => $scara ): ?>
                        <option value="<?php echo $this->escape( $scara_id ) ?>"
                                data-bloc="<?php echo $this->escape( $scara[ App_Component_Scara_Object::PROP_BLOC_ID ] ) ?>">
                            <?php echo $this->escape( $scara[ App_Component_Scara_Object::PROP_DENUMIRE ] ) ?>
                        </option>
                    <?php endforeach; ?>
                    </select>
                </span>

                <span class="spatiu-container">
                    Apartament
                    <select class="spatiu-select-element"
                            name="<?php echo $this->escape( App_Api_Incasare_Add::ARG_SPATIU_ID ) ?>">
                        <option value=""></option>
                    <?php foreach( $spatii as $spatiu_id => $spatiu ): ?>
                        <option value="<?php echo $this->escape( $spatiu_id ) ?>"
                                data-scara="<?php echo $this->escape( $spatiu[ App_Component_Spatiu_Object::PROP_SCARA_ID ] ) ?>">
                            <?php echo $this->escape( $spatiu[ App_Component_Spatiu_Object::PROP_NUMAR ] . '. ' . $spatiu[ App_Component_Spatiu_Object::PARAMETRI ][ App_Component_SpatiuParametru_Factory::PARAMETRU_PROPRIETAR ] ) ?>
                        </option>
                    <?php endforeach; ?>
                    </select>
                </span>

            </span>

            <div class="error"></div>
        </li>

        <li class="section section-suma field-container">
            <span class="label">Suma:</span>

            <input class="suma-element"
                   type="text"
                   name="<?php echo $this->escape( App_Api_Incasare_Add::ARG_VALUE ) ?>" /> lei

            <div class="error"></div>
        </li>

        <li class="section section-coloana field-container">
            <span class="label">Reprezentând:</span>

            <select name="<?php echo $this->escape( App_Api_Incasare_Add::ARG_COLOANA_ID ) ?>">
                <option value=""></option>
            <?php foreach( $coloane_incasari as $coloana_id => $coloana ): ?>
                <option value="<?php echo $this->escape( $coloana_id ) ?>"><?php echo $this->escape( $coloana[ App_Component_Coloana_Object::LABEL ] ) ?></option>
            <?php endforeach; ?>
            </select>

            <div class="error"></div>
        </li>

        <li class="section section-data field-container">
            <span class="label">Data:</span>

            <input class="data-select-element"
                   type="text"
                   name="<?php echo $this->escape( App_Api_Incasare_Add::ARG_DATE ) ?>"
                   readonly />

            <div class="error"></div>
        </li>

    </ul>

    <div class="submit-container">
        <input class="button" type="submit" value="Adaugă" />
    </div>

    <div class="general-error"></div>

</form>