<table class="simple-layout">

    <tr class="field-container">

        <td>
            <label>Consum înregistrat de contorul general:</label>
        </td>

        <td>
            <input class="consum-apa-field" type="text" name="<?php echo $this->escape( App_Api_Cheltuiala_Add::ARG_PARAMS ) ?>[<?php echo $this->escape( App_Component_Cheltuiala_Apa_Object::PARAM_CONSUM_TOTAL_INREGISTRAT ) ?>]" /> mc
            <div class="error"></div>
        </td>

    </tr>

    <tr class="field-container">

        <td>
            <label>Diferenţă General şi Pasanţi (după caz):</label>
        </td>

        <td>
            <input class="consum-apa-field" type="text" name="<?php echo $this->escape( App_Api_Cheltuiala_Add::ARG_PARAMS ) ?>[<?php echo $this->escape( App_Component_Cheltuiala_Apa_Object::PARAM_DIFERENTA_GENERAL_PASANTI ) ?>]" /> mc
            <div class="error"></div>
        </td>

    </tr>

<!--    <tr class="field-container">

        <td>
            <label>Consum Comun (după caz):</label>
        </td>

        <td>
            <input class="consum-apa-field" type="text" name="<?php echo $this->escape( App_Api_Cheltuiala_Add::ARG_PARAMS ) ?>[<?php echo $this->escape( App_Component_Cheltuiala_Apa_Object::PARAM_CONSUM_COMUN ) ?>]" /> mc
            <div class="error"></div>
        </td>

    </tr>
-->
</table>
