<?php $reduceriRepartizare = $this->reduceriRepartizare(); ?>

<?php if ( $reduceriRepartizare ): ?>

    <li class="section coloana-section section-reduceri field-container"
        data-code="<?php echo $this->escape( App_Component_Coloana_Factory::COLOANA_CHELTUIELI_PERSOANA ) ?>
                   <?php echo $this->escape( App_Component_Coloana_Factory::COLOANA_CHELTUIELI_SUPRAFATA ) ?>">

        <div class="label">După caz, specificaţi daca se aplică vreo reducere:</div>

        <div class="select-reduceri-container">
            <select class="select-reduceri" name="<?php echo $this->escape( App_Api_Cheltuiala_Add::ARG_REDUCERE ) ?>">

                <option value="">Nici o reducere</option>

                <?php foreach( $reduceriRepartizare as $reducere ): ?>
                    <option value="<?php echo $this->escape( $reducere[ App_Component_ReducereRepartizare_Object::PROP_ID ] ) ?>">
                        <?php echo $this->escape( $reducere[ App_Component_ReducereRepartizare_Object::DENUMIRE ] ) ?>
                    </option>
                <?php endforeach; ?>

            </select>
        </div>

        <div class="error"></div>
    </li>
    
<?php endif; ?>