<?php
    $blocuri    = $this->blocuri();
    $scari      = $this->scari();
?>

<ul class="blocuri-list-container">
<?php foreach ( $blocuri as $bloc_id => $bloc ) : ?>

    <li class="bloc-container">
        <div class="select-bloc-container">
            <label>
                Bloc <?php echo $this->escape( $bloc[ App_Component_Bloc_Object::PROP_DENUMIRE ] ) ?>
            </label>
        </div>

        <ul class="scari-list-container">
            <?php foreach( $bloc[ App_Component_Bloc_Object::PROP_SCARI ] as $scara_id ) : ?>
            <li class="select-scara-container">

                <label>
                    <input type="checkbox"
                           name="<?php echo $this->escape( App_Api_Cheltuiala_Add::ARG_TARGET ) ?>[]"
                           value="<?php echo $this->escape( $scara_id ) ?>" />

                    Scara <?php echo $this->escape( $scari[ $scara_id ][ App_Component_Scara_Object::PROP_DENUMIRE ] ) ?>
                </label>

            </li>
            <?php endforeach; ?>
        </ul>

    </li>
<?php endforeach; ?>
</ul>