<?php
    $spatii = $this->spatii();
?>

<div class="spatii-list-container">
    <table class="simple-layout">
    <?php foreach( $this->spatii as $spatiu_id ): ?>

        <tr>
            <td class="numar-spatiu">
                <?php echo $this->escape( $spatii[ $spatiu_id ][ App_Component_Spatiu_Object::PROP_NUMAR ] ) ?>.
            </td>
            <td class="proprietar-spatiu">
                <?php echo $this->escape( $spatii[ $spatiu_id ][ App_Component_Spatiu_Object::PARAMETRI ][ App_Component_SpatiuParametru_Factory::PARAMETRU_PROPRIETAR ] ) ?>
            </td>
            <td class="input-field-container">
                <input class="input-field"
                       name="<?php echo $this->escape( App_Api_Cheltuiala_Add::ARG_PARAMS ) ?>[<?php echo $this->escape( $spatiu_id ) ?>]"
                       type="text" />
            </td>
        </tr>
    <?php endforeach; ?>
    </table>
</div>

<div class="buttons-container">
    <input type="button" class="save button" value="Salvează" />
    <input type="button" class="cancel button" value="Înapoi" />
</div>