<?php
    $spatii = $this->spatii();
?>

<ul class="spatii-list-container">
<?php foreach( $this->spatii as $spatiu_id ): ?>

    <li class="spatiu-item">
        <label>
            <input type="checkbox"
                   value="<?php echo $this->escape( $spatiu_id ) ?>"/>

            <span class="numar-spatiu">
                <?php echo $this->escape( $spatii[ $spatiu_id ][ App_Component_Spatiu_Object::PROP_NUMAR ] ) ?>.
            </span>

            <span class="proprietar-spatiu">
                <?php echo $this->escape( $spatii[ $spatiu_id ][ App_Component_Spatiu_Object::PARAMETRI ][ App_Component_SpatiuParametru_Factory::PARAMETRU_PROPRIETAR ] ); ?>
            </span>
        </label>
    </li>
<?php endforeach; ?>
</ul>

<div class="actions-container">
    <a class="select-all">selecteaza tot</a> |
    <a class="deselect-all">deselecteaza tot</a>
</div>

<div class="buttons-container">
    <input type="button" class="save button" value="Salvează" />
    <input type="button" class="cancel button" value="Înapoi" />
</div>