<?php
    $blocuri    = $this->blocuri();
    $scari      = $this->scari();
?>

<ul class="blocuri-list-container">
<?php foreach ( $blocuri as $bloc_id => $bloc ) : ?>

    <li class="bloc-container">
        <div class="select-bloc-container">
            <label>
                Bloc <?php echo $this->escape( $bloc[ App_Component_Bloc_Object::PROP_DENUMIRE ] ) ?>
            </label>
        </div>

        <ul class="scari-list-container">
            <?php foreach( $bloc[ App_Component_Bloc_Object::PROP_SCARI ] as $scara_id ) : ?>

            <li class="select-scara-container">

                <label>
                    Scara <?php echo $this->escape( $scari[ $scara_id ][ App_Component_Scara_Object::PROP_DENUMIRE ] ) ?> -
                </label>

                <a class="select-spatii-button" data-scara_id="<?php echo $this->escape( $scara_id ) ?>">selectaţi apartamentele</a>

                <div class="spatii-selection" data-scara_id="<?php echo $this->escape( $scara_id ) ?>">
                    <input type="hidden" />
                </div>

                <div class="spatii-beneficiar-popup"
                     data-scara_id="<?php echo $this->escape( $scara_id ) ?>"
                     title="Scara <?php echo $this->escape( $scari[ $scara_id ][ App_Component_Scara_Object::PROP_DENUMIRE ] ) ?>">
                    <?php echo $this->partial('cheltuieli/_spatii_beneficiar_popup.phtml', ['spatii' => $scari[ $scara_id ][ App_Component_Scara_Object::PROP_SPATII ]]) ?>
                </div>

            </li>
            <?php endforeach; ?>
        </ul>

    </li>
<?php endforeach; ?>
</ul>