<div id="incasari-module" class="module-container">

    <div class="add-container-wrapper">
        <div class="add-container module-page-container">

            <div class="page-title">Adaugare încasare</div>

            <?php echo $this->partial($this->controller_name . '/_add.phtml') ?>
        </div>
    </div>

    <div class="list-container-wrapper">
        <div class="list-container module-page-container">

            <div class="page-title">Încasări înregistrate</div>

            <?php // echo $this->partial($this->controller_name . '/list.phtml') ?>
        </div>
    </div>

</div>

<script type="text/javascript">
$(function(){
    new Modules.Incasari( $('#incasari-module') );
});
</script>