<?php
    $cheltuieli = $this->cheltuieli();
    $coloane_cheltuieli = $this->coloaneCheltuieli();
    
    // calculare valoare totala cheltuieli
    $valoare_totala = 0;
    foreach( $cheltuieli as $cheltuiala )
    {
        $valoare_totala += $cheltuiala[ App_Component_Cheltuiala_Object::PROP_VALUE ];
    }
?>
<div id="list-cheltuieli-module">

    <ul class="list-cheltuieli-container">

        <div class="total-cheltuieli">
            Valoare totală: <span class="valoare-totala"><?php echo $valoare_totala; ?></span> lei
        </div>
        
        <?php foreach( $cheltuieli as $cheltuiala_id => $cheltuiala ): ?>
        <?php $valoare_cheltuiala = (float) $cheltuiala[ App_Component_Cheltuiala_Object::PROP_VALUE ]; ?>
        
        <li class="cheltuiala-item">

            <span class="descriere-cheltuiala">
                <?php echo $this->escape( $cheltuiala[ App_Component_Cheltuiala_Object::PROP_DESCRIERE ] ) ?>:
            </span>
            <span class="valoare-cheltuiala">
                <?php echo $this->escape( $valoare_cheltuiala ) ?>
            </span> lei

            <span class="coloana-cheltuiala">
                (<?php echo $this->escape( $coloane_cheltuieli[ $cheltuiala[ App_Component_Cheltuiala_Object::PROP_COLOANA_ID ] ][ App_Component_Coloana_Object::LABEL ] ) ?>)
            </span>

            <a class="delete-cheltuiala" data-id="<?php echo $this->escape( $cheltuiala_id ) ?>">
                ştergere
            </a>

        </li>
        <?php endforeach; ?>
    </ul>

    <div class="no-results <?php if ( count( $cheltuieli ) ) echo 'hidden' ?>">Nu există nicio cheltuială înregistrată.</div>

</div>