<div class="spatii-list-pane">
    
    <div class="instructions">
        <div>- Selectați apartamentul pe care doriți să îl modificați.</div>
        <div class="select-scara">- Apartamentul nu se găsește în această scară? Selectați de mai sus denumirea scării dorite.</div>
    </div>
    
    <?php echo $this->includeView( '../view-list/list.phtml' ); ?>
    
    <div class="edit-frame">
        <?php echo $this->includeView( '../add-spatiu/spatiu-form.phtml', [ 'params' => [ 'mode' => 'edit' ] ] ); ?>
    </div>
    
    
</div>

