<div id="cheltuieli_gospodaresti-add-frame" class="cheltuiala-add-frame">
    
    <div class="instruction-small instruction-regulament">
        Repartizarea acestor cheltuieli se face în funcţie de cota-parte indiviză de proprietate,
        conform H.G.1588/2007, art. 43, 44, 45, 46. Cheltuiala va apărea în lista de plată pe coloana
        "Cheltuieli gospodăreşti", sub rubrica "Cheltuieli pe cota-parte indiviză".
    </div>

    <div class="instruction-small instruction-info">
        Pentru explicaţii despre modul de completare a informaţiilor mutaţi mouse-ul în dreptul semnelor <span class="help-icon"></span>.
    </div>
    
    <?php echo $this->includeView( '/cheltuieli/components/tipuri_cheltuiala/cheltuieli_gospodaresti/form.phtml' ) ?>
    
</div>
