<div id="cheltuiala-energie_electrica-add-frame" class="cheltuiala-add-frame">
    
    <?php echo $this->includeView( 'cheltuieli/components/tipuri_cheltuiala/energie_electrica/form.phtml', [ 'relative' => false ] ) ?>
    
    <div class="cheltuiala-unavailable-frame">
    
        <div class="alert-text">
            Facturile pentru energie electrică pot fi înregistrate doar dacă există contoare de energie electrică.
        </div>

        <div class="instructions">
            Pentru a defini contoarele accesați pagina <a class="goto-config">Configurare</a>.
        </div>

    </div>

</div>
