<div id="cheltuiala-gaze_naturale-add-frame" class="cheltuiala-add-frame">
    
    <?php echo $this->includeView( 'cheltuieli/components/tipuri_cheltuiala/gaze_naturale/form.phtml', [ 'relative' => false ] ) ?>
    
    <div class="cheltuiala-unavailable-frame">
    
        <div class="alert-text">
            Facturile pentru gaze naturale pot fi înregistrate doar dacă există branşamente de gaze naturale.
        </div>

        <div class="instructions">
            Pentru a defini branşamentele accesați pagina <a class="goto-config">Configurare</a>.
        </div>

    </div>
    
</div>
