<div id="cheltuiala-reparatie-add-frame" class="cheltuiala-add-frame">
    
    <div class="instruction-small instruction-regulament">
        Repartizarea acestor cheltuieli se face în funcţie de cota-parte indiviză de proprietate,
        conform H.G.1588/2007, art. 43, 44, 45, 46.
    </div>

    <div class="instruction-small instruction-info">
        Pentru explicaţii despre modul de completare a informaţiilor mutaţi mouse-ul în dreptul semnelor <span class="help-icon"></span>.
    </div>
    
    <?php echo $this->includeView( '/cheltuieli/components/tipuri_cheltuiala/reparatie/form.phtml' ) ?>
    
</div>
