<div id="cheltuiala-salarii-add-frame" class="cheltuiala-add-frame">
    
    <div class="instruction-small instruction-regulament">
        Acestea reprezintă cheltuieli cu privire la: <br />
        - personalul angajat sau contractat al asociaţiei: salarii sau remuneraţii pentru administrator, 
        contabil, casier, instalator, electrician, portar, cheltuieli pentru curăţenie etc.;<br />
        - indemnizaţii acordate membrilor asociaţiei de proprietari ori persoanelor alese: preşedintele, 
        membrii comitetului executiv şi ai comisiei de cenzori;<br />
        - prime.<br /><br />
        
        Repartizarea acestor cheltuieli se face în funcţie de cota-parte indiviză de proprietate,
        conform H.G.1588/2007, art. 43, 44, 45, 46. Cheltuiala va apărea în lista de plată pe coloana
        "Salarii", sub rubrica "Cheltuieli pe cota-parte indiviză".
    </div>

    <div class="instruction-small instruction-info">
        Pentru explicaţii despre modul de completare a informaţiilor mutaţi mouse-ul în dreptul semnelor <span class="help-icon"></span>.
    </div>
    
    <?php echo $this->includeView( '/cheltuieli/components/tipuri_cheltuiala/salarii/form.phtml' ) ?>
    
</div>
