<div class="page-section ascensoare-section">

    <div class="section-title">
        Ascensoare
    </div>

    <div class="section-content">
        
        <div class="counter-text"></div>
        
        <div class="list-content"></div>

        <div class="instruction-small selection-instruction">
            <span class="info-icon"></span>
            Specificaţi dacă există ascensoare într-o scară bifând căsuţa din dreptul fiecărei scări.
        </div>
        
        <div class="save-button-wrapper">
            <input type="button" class="button save-button" value="Salvează" />
            <a class="restore-button">anulează modificările</a>
        </div>
        
        <div class="template ascensoare-scara list-item">
            <label class="choice">
                <input type="checkbox" /><span class="denumire-scara"></span>
            </label>
        </div>
        
    </div>

</div>