<div class="fit-max-wrapper">
    
    <div class="add-spatiu-frame">
        <?php echo $this->includeView( 'spatiu-form.phtml', [ 'params' => [ 'mode' => 'add' ] ] ); ?>
    </div>
    
    <div class="spatii-list-frame">
        <?php echo $this->includeView( '../view-list/list.phtml' ); ?>
    </div>
    
    
</div>