<?php 
    $isAddMode = ( $this->mode === 'add' );
    $isEditMode = ( $this->mode === 'edit' );
?>

<form class="spatiu-form" autocomplete="off">
    <?php if( $isAddMode ): ?>
        <input type="hidden" name="<?php echo App_Api_Spatiu_Add::ARG_SCARA_ID ?>" />
    <?php endif; ?>
    
    <?php if( $isEditMode ): ?>
        <input type="hidden" name="<?php echo App_Api_Spatiu_Edit::ARG_SPATIU_ID ?>" />
    <?php endif; ?>

    <div class="main-fields-container">
        <table>
            <thead>
                <tr>
                    <td class="etaj">Etaj</td>
                    <td class="numar">Nr.</td>
                    <td class="proprietar">Proprietar</td>
                    <td class="nr_pers">Nr. <br />pers.</td>
                    <td class="suprafata">Supr. <br />[m²]</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="etaj" name="<?php if( $isAddMode ) echo App_Api_Spatiu_Add::ARG_ETAJ ?>" <?php if( $isEditMode ) echo 'disabled' ?> /></td>
                    <td><input type="text" class="numar" name="<?php if( $isAddMode ) echo App_Api_Spatiu_Add::ARG_NUMAR ?>" <?php if( $isEditMode ) echo 'disabled' ?> /></td>
                    <td><input type="text" class="proprietar" name="<?php echo App_Api_Spatiu_Add::ARG_PROPRIETAR ?>" /></td>
                    <td><input type="text" class="nr_pers" name="<?php echo App_Api_Spatiu_Add::ARG_NR_PERS ?>" /></td>
                    <td><input type="text" class="suprafata" name="<?php echo App_Api_Spatiu_Add::ARG_SUPRAFATA ?>" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="additional-fields-container">
        <?php if( $isAddMode ): ?>
        <div class="instructions">
            Completați informațiile de mai jos doar dacă acestea sunt folosite la calcularea cotelor de contribuție a apartamentului.
        </div>
        <?php endif; ?>
        
        <div class="parametri-container clearfix"></div>
        
    </div>
    
    <div class="template parametru-item" title="">
        <input class="parametru-field" type="text" name="" value="" />
        <span class="parametru-label"></span>
    </div>
        
    <div class="actions-container">
        <input class="button" type="submit" value="Salvează" />
        
        <?php if( $isAddMode ): ?>
            <label class="continue-adding">
                <input type="checkbox" class="continue" checked />
                continuă cu adaugarea altor apartamente
            </label><br />
        <?php endif; ?>
            
    </div>

</form>

<?php if( $isAddMode ): ?>
    <div class="remove-scara-section">
        Dacă ați adăugat scara din greșeală, o puteți <a class="remove-scara-button">elimina</a>.
    </div>
<?php endif; ?>

<div class="instructions">
    <?php if( $isAddMode ): ?>
        <div>- Câmpul <b>etaj</b> poate fi un număr de la <i>1</i> la <i>40</i> sau una dintre următoarele inițiale: <i>S (subsol)</i>, <i>D (demisol)</i>, <i>P (parter)</i>, <i>M (mezanin)</i>, <i>MD (mansarda)</i>.</div>
        <div>- <b>Numărul</b> apartamentului nu poate conține mai mult de <?php echo Lib_Grammar::pluralize( App_Component_Spatiu_Object::ATTR_NUMAR_MAX_LENGTH, 'caracter' ) ?>. </div>
    <?php endif; ?>
    <div>- Dacă <b>numărul de persoane</b> nu se folosește, câmpul respectiv se va completa cu "<?php echo App_Component_Spatiu_Object::ATTR_NR_PERS_NULL_VALUE ?>" (semnul minus).</div>
    <?php if( $isAddMode ): ?>
        <div>- Termenul <i>"apartament"</i> desemnează și spațiile cu altă destinație decât cea de locuință (de ex. spațiile comerciale).</div>
        <div class="select-scara">- Puteți adăuga apartamente la altă scară prin simpla selectare a celei dorite.</div>
    <?php endif; ?>
</div>

