<div class="details-frame fit-max-wrapper">
    
    <div class="actions-bar">
        <input type="button" class="button edit-cheltuiala-button edit-button" value="Corectează datele" />
        <input type="button" class="button remove-cheltuiala-button delete-button" value="Elimină cheltuiala" />
        
        <a class="close-frame-button">ascunde detaliile</a>
    </div>
    
    <?php 
        $panes = [];
        foreach( $this->tipuri_cheltuieli as $id => $data )
        {
            $tip = $data[ App_Component_CheltuialaTip_Object::PROP_TIP ];

            $panes[ $tip ] = 'details/' . $tip . '.phtml';
        }

        echo $this->panes( $panes , [
            'css_class'     => 'tipuri-cheltuieli-panes-wrapper'
        ]); 
    ?>

</div>