<div id="cheltuieli-curente-list" class="fit-max-wrapper container-view">
    
    <div class="empty-list">
        Nu există nicio cheltuială înregistrată în această lună. Pentru a adăuga o cheltuială apăsaţi butonul de mai sus.
    </div>

    <div class="list-wrapper fit-max-wrapper">

        <div class="list-header clearfix">
            <div class="cell descriere">Descriere</div>
            <div class="cell valoare">Valoare</div>
            <div class="cell data">Data</div>
            <div class="cell explicatii">Explicaţii</div>
        </div>

        <div class="list-content"></div>

    </div>
    
    <?php echo $this->includeView( 'details.phtml' ) ?>
    
    <div class="template cheltuiala-item clearfix">
        <div class="cell descriere"></div>
        <div class="cell valoare"></div>
        <div class="cell data"></div>
        <div class="cell explicatii"></div>
    </div>
    
</div>