<div id="login-frame">

    <form class="login-form">

        <div class="top-bar">Intrare în cont</div>

        <table class="form-layout">
            <tr>
                <td class="label">Utilizator</td>
                <td class="field-container">
                    <input class="username" type="text" name="<?php echo $this->escape(App_Api_Authenticate_Login::ARG_USERNAME) ?>" />
                </td>
            </tr>

            <tr>
                <td class="label">Parola</td>
                <td class="field-container">
                    <input type="password" name="<?php echo $this->escape(App_Api_Authenticate_Login::ARG_PASSWORD) ?>" />
                </td>
            </tr>

            <tr>
                <td class="rememberme-container" colspan="2">
                    <label>
                        <input type="checkbox" name="<?php echo $this->escape(App_Api_Authenticate_Login::ARG_REMEMBER_ME) ?>" checked value="1"  />
                        Ţine-mă minte
                    </label>
                </td>
            </tr>

            <tr>
                <td class="login-action-container" colspan="2">
                    <input class="login-action button" type="submit" value="Autentificare" />
                </td>
            </tr>
        </table>

        <div class="error general-error"></div>

        <div class="demo">
            Puteţi accesa varianta demo a aplicaţiei folosind <b>test</b> ca utilizator şi parola <b>123456</b>. 
        </div>

    </form>

</div>
