<div id="landing-header">

    <div class="app-logo clearfix">
        <div class="app-abrv">
            ACAP
        </div>
        <div class="app-description">
            <?php echo $this->escape( Lib_Application::getInstance()->getConfig( ['app', 'title'] ) ) ?>
        </div>
    </div>

</div>

<div id="landing">
    
    <div class="landing-content">
        <?php echo $this->includeView( '_login_frame.phtml' ); ?>
    </div>

    <div class="landing-top-bar"></div>
    <div class="landing-bottom-bar"></div>
</div>




