<div class="app-logo">
    <div class="app-abrv">
        ACAP
    </div>
    <div class="app-description">
        <?php echo $this->escape( Lib_Application::getInstance()->getConfig( ['app', 'title'] ) ) ?>
    </div>
</div>

<div class="user-info">

    <div class="denumire-asociatie">
        -- denumire asociatie --
        <?php //echo $this->escape( $this->asociatie()->getDenumire() ) ?>
    </div>

    <div class="actions-container">
        <!--<a class="setari-cont-button" href="/account">setări cont</a>-->
        <a class="logout-button">ieşire</a>
    </div>

</div>

<div class="working-month"></div>