<?php 

$tabs_normal_view  = [
    'spatii'        => 'Apartamente',
    'cheltuieli'    => 'Cheltuieli',
//    'incasari'      => 'Încasări',
//    'consumuri'     => 'Consumuri',
//    'fonduri'       => 'Fonduri',
//    'liste'         => 'Liste de Plata',
    'configurare'   => 'Configurare',
];

$tabs_configure_view  = [
//    'welcome'       => NULL,
//    'spatii'        => '1. Apartamente',
//    'luna_lucru'    => '2. Luna de lucru',
//    'fonduri'       => '3. Fonduri',
//    'datorii'       => '4. Datorii',
//    'configurare'   => '5. Configurari',
];

$pages = [];
$pageIds = array_unique( array_merge( array_keys( $tabs_normal_view ), array_keys( $tabs_configure_view ) ) );

foreach( $pageIds as $pageId )
{
    $pages[] = [
        'id'        => $pageId,
        'file_path' => "../{$pageId}/page.phtml",
    ];
}

?>

<div class="pages-menu tabs-container">
    
    <?php foreach( $tabs_normal_view as $tab_id => $tab_label ): ?>
        <?php if( $tab_label === NULL ) continue; ?>
        <div class="tab-item-wrapper" data-id="<?php echo $tab_id ?>" data-view="normal">
            <label><?php echo $this->escape( $tab_label ); ?></label>
        </div>
    <?php endforeach; ?>

    <?php foreach( $tabs_configure_view as $tab_id => $tab_label ): ?>
        <?php if( $tab_label === NULL ) continue; ?>
        <div class="tab-item-wrapper" data-id="<?php echo $tab_id ?>" data-view="configure">
            <label><?php echo $this->escape( $tab_label ); ?></label>
        </div>
    <?php endforeach; ?>

</div>

<div class="content-top-bar"></div>

<div class="content-wrapper">
    <?php echo $this->panes( $pages, [ 'css_class' => 'pages-pane-container' ] ) ?>
</div>

<div class="content-bottom-bar"></div>
