<input id="request-token" type="hidden" name="token" value="<?php echo $this->escape( $this->token ) ?>" />

<div id="application-pages-container">
    <?php echo $this->includeView( '_pages.phtml' ) ?>
</div>

<div id="application-header">
    <?php echo $this->includeView( '_header.phtml' ) ?>
</div>
