
.panel-title {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 2em;
}

/******************************************************************************/

.module-page-container >.module-page-tabs,
.module-page-container >.module-page-panes {
    position: absolute;
    right: 0;
    left: 0;
}

.module-page-container >.module-page-tabs {
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 6px 0 #000000;
    padding-left: 10px;
    top: 0;
}

.module-page-container >.module-page-panes {
    top: 3.6em;
    bottom: 0;
}

.module-page-container >.module-page-tabs .tab-item-wrapper {
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.62;
}

.module-page-container >.module-page-tabs .tab-item-wrapper.current {
    opacity: 1;
    box-shadow: 0 -3px 4px 1px #888;
}

.module-page-container >.module-page-tabs .tab-item-wrapper.disabled {
    opacity: 0.3
}

/******************************************************************************/

