#application-pages-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 110px;
}

#application-pages-container >.content-top-bar {
    background-image: -webkit-linear-gradient(top, #03C657, #0CEE7F);
    background-image: -moz-linear-gradient(top, #03C657, #0CEE7F);
    background-image: linear-gradient(to bottom, #03c657, #0cee7f);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 8px 0 #000000;
    height: 12px;
    left: 0;
    position: absolute;
    right: 0;
    top: 32px;
    z-index: 2;
}

#application-pages-container >.content-bottom-bar {
    background-image: -webkit-linear-gradient(bottom, #03C657, #0CEE7F);
    background-image: -moz-linear-gradient(bottom, #03C657, #0CEE7F);
    background-image: linear-gradient(to top, #03c657, #0cee7f);
    border-radius: 0 0 5px 5px;
    bottom: 0;
    box-shadow: 0 0 8px 0 #000000;
    height: 12px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}

#application-pages-container >.content-wrapper {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    bottom: 12px;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 1;
}

/*** MENU ***/

#application-pages-container >.pages-menu {
    border-radius: 5px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 3;
}

#application-pages-container >.pages-menu .tab-item-wrapper {
    background-color: rgba(3, 198, 87, 0.5);
    color: #dddddd;
    font-weight: bold;
}

#application-pages-container >.pages-menu .tab-item-wrapper.disabled {
    background-color: rgba(3, 198, 87, 0.22) !important;
    color: rgba(200, 200, 200, 0.6) !important;
    background-image: none !important;
}

#application-pages-container >.pages-menu .tab-item-wrapper[data-view="configure"] {
    padding: 0;
    text-align: center;
    width: calc(20% - 4px);
}

#application-pages-container >.pages-menu .tab-item-wrapper:hover {
    background-color: rgba(3, 198, 87, 0.7);
    color: #ffffff;
}

#application-pages-container >.pages-menu .tab-item-wrapper.current {
    background-image: -webkit-linear-gradient(top, #00A334, #03C657);
    background-image: -moz-linear-gradient(top, #00A334, #03C657);
    background-image: linear-gradient(to bottom, #00A334, #03C657);
    color: #ffffff;
}

#application-pages-container .pages-pane-container {
    bottom: 1em;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 1em;
}
