#application-header {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 100px;
    color: #ffffff;
}

#application-header > .app-logo {
    font-family: Iceland;
    width: 260px;
    float: left;
    margin-top: -10px;
    line-height: normal;
}
#application-header .app-abrv {
    font-size: 68px;
    font-weight: bold;
}
#application-header .app-description {
    font-size: 20px;
}

#application-header a,
#application-header .app-abrv,
#application-header .working-month {
    color: #10FF90;
}

/**** user-info ****/

#application-header > .user-info {
    float: right;
    text-align: right;
}

#application-header .denumire-asociatie {
    font-family: Iceland;
    font-size: 23px;
    letter-spacing: -0.4px;
}

#application-header .actions-container {
    margin-top: 8px;
}
#application-header .setari-cont-button {
    margin-right: 1em;
}


#application-header .pages-menu {
    padding-top: 8px;
    padding-bottom: 8px;
}

#application-header .page-item-wrapper {
    border: 1px solid #000000;
    display: inline-block;
    padding: 6px 22px;
    text-decoration: none;
}

#application-header .page-item-wrapper:hover {
    background-color: #eaeaea;
}

#application-header .page-item-wrapper.current {
    background-color: bisque;
    color: #000000;
}

/********/

#application-header .working-month {
    bottom: 0;
    position: absolute;
    right: 0;
}
