#cheltuieli-module {

}

/******************************************************************************/

#cheltuieli-curente >.frame-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

#cheltuieli-curente >.frame-content {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
}

/******************************************************************************/

#cheltuieli-curente-list >.list-wrapper >.list-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    line-height: 2em;
    border-bottom: 1px solid #000;
}

#cheltuieli-curente-list >.list-wrapper >.list-content {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#cheltuieli-curente-list >.list-wrapper >.list-header >.cell,
#cheltuieli-curente-list .cheltuiala-item >.cell {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.8em;
}

#cheltuieli-curente-list .cheltuiala-item {
    border-bottom: 1px solid #6f6f6f;
}

#cheltuieli-curente-list .cheltuiala-item.selected {
    background-color: #ffffff;
}

#cheltuieli-curente-list >.list-wrapper .cell.descriere {
    width: 16em;
    margin-right: 0.6em;
}

#cheltuieli-curente-list >.list-wrapper .cell.valoare {
    width: 6.6em;
    margin-right: 1.6em;
    text-align: right;
}

#cheltuieli-curente-list >.list-wrapper .cell.data {
    width: 7em;
    margin-right: 1.6em;
    text-align: right;
}

#cheltuieli-curente-list >.list-wrapper .cell.explicatii {
    width: calc( 100% - 16em - 0.6em - 6.6em - 1.6em - 7em - 1.6em );
}

#cheltuieli-curente-list >.list-wrapper.collapsed .cell.explicatii {
    display: none !important;
}

#cheltuieli-curente-list >.list-wrapper.collapsed .cell.data {
    margin-right: auto !important;
}

#cheltuieli-curente-list >.list-wrapper.collapsed {
    padding-right: 1.6em !important;
}

/*----*/

#cheltuieli-curente-list .details-frame .tipuri-cheltuieli-panes-wrapper {
    top: 3em;
}

#cheltuieli-curente-list .details-frame .close-frame-button {
    float: right;
}

#cheltuieli-curente-list .details-frame .edit-cheltuiala-button {
    margin-right: 1em;
}


/*** add-cheltuiala-dialog ****************************************************/

#add-cheltuiala-dialog .instructions.select-choice {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.6em;
}

#add-cheltuiala-dialog .categorii-cheltuieli-panes-wrapper,
#add-cheltuiala-dialog .tipuri-cheltuieli-panes-wrapper {
    margin-top: 1em;
}

#add-cheltuiala-dialog .categorie-cheltuiala-choice.choice,
#add-cheltuiala-dialog .tip-cheltuiala-choice.choice,
#add-cheltuiala-dialog .utilitate-choice.choice {
    float: left;
    width: 50%;
    margin-bottom: 0.3em;
    text-align: left;
}


#add-cheltuiala-dialog .categorie-cheltuiala-choice.choice > label,
#add-cheltuiala-dialog .tip-cheltuiala-choice.choice > label,
#add-cheltuiala-dialog .utilitate-choice.choice > label {
    border: 1px solid transparent;
    display: inline-block;
    padding: 2px 6px 2px 2px;
}

#add-cheltuiala-dialog .categorie-cheltuiala-choice.choice > label:hover,
#add-cheltuiala-dialog .tip-cheltuiala-choice.choice > label:hover,
#add-cheltuiala-dialog .utilitate-choice.choice > label:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #4aae4a;
    border-radius: 3px;
}

#add-cheltuiala-dialog .tipuri-cheltuieli-wrapper {
    border-top: 1px solid #a8a8a8;
    margin-top: 0.4em;
    padding-top: 0.8em;
}

/*** tip-cheltuiala-form-frame ************************************************/

.tip-cheltuiala-form-frame .cheltuiala-form {
    margin-top: 0.8em;
}

.tip-cheltuiala-form-frame .cheltuiala-form td.label {
    white-space: nowrap;
    padding-right: 6px;
}

.tip-cheltuiala-form-frame .cheltuiala-form {
    margin-top: 0.8em;
}

.tip-cheltuiala-form-frame .cheltuiala-form td.field-container,
.tip-cheltuiala-form-frame .cheltuiala-form td.info-field {
    padding-bottom: 0.3em;
}

.tip-cheltuiala-form-frame .cheltuiala-form td.field-container {
    width: 100%;
}

.tip-cheltuiala-form-frame .cheltuiala-form .field-container input[type=text],
.tip-cheltuiala-form-frame .cheltuiala-form .field-container select,
.tip-cheltuiala-form-frame .cheltuiala-form .field-container .ui-selectmenu-button {
    box-sizing: border-box;
    width: 100% !important;
}

.tip-cheltuiala-form-frame .instruction-small {
    text-align: justify;
}

.tip-cheltuiala-form-frame .instruction-info {
    margin-top: 0.5em;
}

.tip-cheltuiala-form-frame .help-icon {
    vertical-align: text-top;
}

.tip-cheltuiala-form-frame td.info-field {
    vertical-align: baseline;
}

.tip-cheltuiala-form-frame td.info-field .help-icon {
    margin-left: 5px;
    margin-top: 0.1em;
}

.tip-cheltuiala-form-frame .choice >label:hover {
    color: #3f3f3f;
    font-weight: bold;
    letter-spacing: -0.4px;
}

.tip-cheltuiala-form-frame input[name=valoare] {
    font-weight: bold;
    letter-spacing: 1px;
}

/*----------------------------------------------------------------------------*/

.descriere-parametru-cheltuiala-tooltip {
    font-size: 0.86em;
    text-align: justify;
}

.descriere-parametru-cheltuiala-tooltip .select-spatii-scara-button {
    display: inline-block;
    vertical-align: middle;
}

/*** tip-cheltuiala-details-frame *********************************************/

.tip-cheltuiala-details-frame .details-section table.section-table-layout {
    table-layout: fixed;
}

.tip-cheltuiala-details-frame .value-element {
    color: #903900;
    padding: 0.1em 0.4em;
}

.tip-cheltuiala-details-frame .value-element.descriere,
.tip-cheltuiala-details-frame .value-element.valoare {
    font-weight: bold;
}

.tip-cheltuiala-details-frame .details-section td.label {
    width: 9em;
}

.tip-cheltuiala-details-frame .contributii-section {
    margin-top: 1em;
}

/*** cheltuiala tip ADMINISTRATIV *********************************************/

.cheltuieli_gospodaresti-form-frame .fonduri-container {
    padding-bottom: 6px !important;
}

/*** cheltuiala tip ENERGIE_ELECTRICA *****************************************/

.cheltuiala-energie_electrica-form-frame .repartizare-section .repartizare-scara {
    margin-bottom: 0.2em;
}

.cheltuiala-energie_electrica-form-frame .repartizare-section .scutiri-container {
    margin-top: 0.3em;
    font-size: 0.92em;
    color: #606060;
}

.cheltuiala-energie_electrica-form-frame .repartizare-section .instalatie {
    margin-bottom: 0.6em;
}

/*----------------------------------------------------------------------------*/

.cheltuiala-energie_electrica-details-frame .details-section td.label {
    width: 9.2em;
}

.cheltuiala-energie_electrica-details-frame .instalatie {
    color: #736281;
    font-size: 0.88em;
    margin-top: 4px;
}

/*** cheltuiala tip ASCENSOARE ************************************************/

.cheltuiala-ascensoare-form-frame .valoare-placeholder {
    color: #aaaaaa;
    font-style: italic;
}

.cheltuiala-ascensoare-form-frame .ascensoare-scara .valoare-serviciu-input {
    width: 6em !important;
    text-align: right;
}

.cheltuiala-ascensoare-form-frame .ascensoare-scara .repartizare-serviciu {
    float: right;
    margin-right: 1em;
    line-height: 160%;
}

/*----------------------------------------------------------------------------*/

.cheltuiala-ascensoare-details-frame .ascensoare-container >table {
    width: 100%;
}

.cheltuiala-ascensoare-details-frame .ascensoare-container .valoare-serviciu,
.cheltuiala-ascensoare-details-frame .ascensoare-container .repartizare {
    white-space: nowrap;
    text-align: right;
    padding-left: 0.8em;
    padding-right: 0;
}

/*** cheltuiala tip SALUBRIZARE ***********************************************/

.cheltuiala-salubrizare-form-frame .reducere-section .answer-wrapper {
    position: relative;
    margin-top: 0.3em;
    padding-left: 1em;
}

.cheltuiala-salubrizare-form-frame .reducere-section .placeholder {
    color: #7b6d00;
    font-size: 0.86em;
    position: absolute;
    top: 0;
}

.cheltuiala-salubrizare-form-frame .reducere-section input.procent {
    width: 2em;
    text-align: right;
}


.cheltuiala-salubrizare-details-frame .details-section .repartizare .reducere {
    font-size: 0.86em;
    margin-top: 0.4em;
}

/******************************************************************************/

#confirm-cheltuiala-dialog  {
    
}

/******************************************************************************/

.repartizare-spatii-component {
    
}

.repartizare-spatii-component .blocuri-container,
.repartizare-spatii-component .scari-container {
    margin-left: 1.4em;
}

.select-spatii-scara-button {
    display: inline-block;
    cursor: pointer;
    vertical-align: text-bottom;
}

.repartizare-spatii-component .selection-frame .choice,
.tip-cheltuiala-form-frame .fonduri-container .choice {
    margin-bottom: 2px;
}

.tip-cheltuiala-form-frame .repartizare-spatii-component .choice.scara-choice >label:hover {
    letter-spacing: -0.2px;
}

.tip-cheltuiala-form-frame .repartizare-spatii-component .choice.all-choice >label:hover {
    letter-spacing: -0.6px;
}

/******************************************************************************/

#spatii-selection-dialog {
    display: none;
}

/******************************************************************************/


.contributii-list-component .scara-title {
    margin-bottom: 0.6em;
}

.contributii-list-component .scara-group {
    margin-bottom: 1em;
}

/******************************************************************************/


#edit-cheltuiala-dialog  {
    
}

/******************************************************************************/

.select-spatii-button {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
    background-image: url("/css/images/ui-icons_2e83ff_256x240.png") !important;
    background-position: -48px -80px;
    vertical-align: middle;
}

.select-spatii-button:not(.static) {
    cursor: pointer;
}

.ui-tooltip .select-spatii-button {
    cursor: inherit;
}

/******************************************************************************/

.repartizare-scara-component .denumire-scara {
    
}

/******************************************************************************/
