#configurare-module {

}

#configurare-module .counter-text {
    width: 480px;
}

/*** ASCENSOARE / GAZE_NATURALE ***********************************************/

#configurare-gaze_naturale .bransamente-section .list-content,
#configurare-ascensoare .ascensoare-section .list-content {
    margin-top: 1em;
}

#configurare-gaze_naturale .bransamente-section .save-button-wrapper,
#configurare-ascensoare .ascensoare-section .save-button-wrapper {
    margin-top: 1em;
}

#configurare-gaze_naturale .bransamente-section .list-item,
#configurare-ascensoare .ascensoare-section .list-item {
    margin-bottom: 0.3em;
    color: #346434;
}

#configurare-gaze_naturale .bransamente-section .list-item.selected,
#configurare-ascensoare .ascensoare-section .list-item.selected {
    color: #000000;
}

#configurare-gaze_naturale .bransamente-section .selection-instruction,
#configurare-ascensoare .ascensoare-section .selection-instruction {
    margin-top: 1em;
}

#configurare-gaze_naturale .bransamente-section .restore-button,
#configurare-ascensoare .ascensoare-section .restore-button {
    margin-left: 1em;
}

/*** ENERGIE ELECTRICĂ ********************************************************/

#configurare-energie_electrica .contoare-section .add-button-wrapper {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
}

#configurare-energie_electrica .contoare-list-frame {
    margin-top: 1em;
    width: 500px;
}

#configurare-energie_electrica .contoare-list-frame .edit-instruction {
    margin-bottom: 0.8em;
}

#configurare-energie_electrica .contoare-section .contor-view {
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 4px;
    padding: 1em;
    text-align: justify;
}

#configurare-energie_electrica .contoare-section .contor-view .edit-button-wrapper {
    float: right;
    margin-left: 1em;
}

#configurare-energie_electrica .contoare-section .contor-view .instalatie {
    margin-top: 0.3em;
    color: #6c6c6c;
    font-size: 0.92em;
}

/*----------------------------------------------------------------------------*/

.contor-energie_electrica-form .form-element {
    margin-bottom: 1em;
}

.contor-energie_electrica-form .instalatie-form .form-element {
    margin-bottom: 0.5em;
}

.contor-energie_electrica-form .denumire-contor {
    width: 20em;
}

.contor-energie_electrica-form .scari-list > .scara {
    margin-top: 0.4em;
    float: left;
}

.contor-energie_electrica-form .scutire-question .choice  {
    margin-left: 1em;
}

.contor-energie_electrica-form .denumire-instalatie  {
    width: 14em;
}

.contor-energie_electrica-form .valoare-estimata-instalatie  {
    width: 2em;
}

.contor-energie_electrica-form .instalatie-form  {
    border-left: 3px double #70a070;
    margin-top: 0.8em;
    padding-left: 0.8em;
    margin-bottom: 1em;
}

.contor-energie_electrica-form .instalatie-form .remove-button-wrapper {
    float: right;
    margin-left: 1em;
    margin-bottom: 0.4em;
}
