#liste-plata-module {

}

#liste-plata-module .sumar-cheltuieli-container,
#liste-plata-module .actions-container {
    margin-bottom: 1em;
}

#liste-plata-module .liste-plata-error-container {
    display: none;
}

#liste-plata-module .liste-plata-container {
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 54px;
    background-color: #FFFFFF;
}

#liste-plata-module .liste-anterioare-container {
    float: right;
    position: relative;
}

#liste-plata-module .liste-anterioare-button {
    width: 170px;
}

#liste-plata-module .liste-anterioare-drop-down {
    display: none;
    position: absolute;
    border: 1px solid #006400;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #000000;
    padding: 4px;
    max-height: 300px;
    overflow: auto;
    width: 182px;
    z-index: 1;
    background-color: #f0f0f0;
}

#liste-plata-module .liste-anterioare-drop-down .open-month-item {
    text-decoration: none;
    display: block;
    padding: 4px 8px;
    color: #000000;
    text-align: right;
}

#liste-plata-module .liste-anterioare-drop-down .open-month-item:hover {
    background-color: #6CD36C;
}
