#spatii-module {
    
}

#spatii-module .module-top-wrapper,
#spatii-module .module-content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#spatii-module .module-content-wrapper {
    bottom: 0;
}

/******/

#spatii-top-panel {
    text-align: center;
    padding: 1em 0;
}

#spatii-top-panel input.next-step-button {
    margin-left: 1em;
}

/******/

#spatii-scari-list-panel,
#spatii-content-panel,
#spatii-actions-panel {
    position: absolute; 
}

#spatii-scari-list-panel,
#spatii-actions-panel {
    top: 0px; 
}

#spatii-scari-list-panel,
#spatii-content-panel {
    left: 0px; 
    right: 145px; /* same as {#scari-actions-panel}.outerWidth */
}

#spatii-content-panel,
#spatii-actions-panel {
    bottom: 0px;    
}

#spatii-scari-list-panel {
    height: 5em;
}

#spatii-content-panel {
    top: 5em; /* same as {#scari-selection-panel}.height */
}

#spatii-actions-panel {
    border-left: 1px solid #aaaaaa;
    padding-left: 15px;
    right: 0;
    width: 110px;
}

#spatii-content-panel a.cancel-button {
    color: dimgrey;
    float: right;
    font-style: italic;
    text-decoration: none;
}

/******************************************************************************/

#spatii-actions-panel .actions-group {
    margin-bottom: 1em;
}

#spatii-actions-panel .group-name {
    margin-bottom: 0.3em;
    text-align: center;
}

#spatii-actions-panel .action-row {
    line-height: 2em;
    text-align: center;
}

#spatii-actions-panel .action-row:hover {
    background-image: linear-gradient(to right, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0.6) 20%, 
        rgba(255, 255, 255, 0.6) 80%, 
        rgba(255, 255, 255, 0) 100%);
}

#spatii-actions-panel a.action-item {
    display: block;
    text-decoration: none;
}

/******************************************************************************/

.scari-list-component .empty-list {
    color: red;
    margin-top: 1em;
    text-align: center;    
}

.scari-list-component .bloc-item {
    float: left;
    margin: 10px;
}

.scari-list-component .scara-item {
    float: left;
    margin-right: 6px;
    text-align: center;
}

.scari-list-component .bloc-label {
    background-color: #f0f0f0;
    border: 1px solid #9f9f9f;
    border-radius: 6px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 2px 8px;
    vertical-align: middle;
}

.scari-list-component .scara-label {
    background-color: #5f5f5f;
    border-radius: 12px;
    color: #ffffff;
    font-size: 1.1em;
    padding: 3px 8px;
}

.scari-list-component.enable-selection.select-scara .scara-label,
.scari-list-component.enable-selection.select-bloc .bloc-label {
    cursor: pointer;
}

.scari-list-component .scari-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}

.scari-list-component .bloc-label.selected, 
.scari-list-component .scara-label.selected {
    box-shadow: 0 0 6px 3px #006f00;
}

/******************************************************************************/

#spatii-content-panel .actions-container {
    margin-top: 1em;
}

#empty-scara-panel .add-spatiu,
#remove-bloc-panel .confirm-button,
#remove-scara-panel .confirm-button,
#remove-spatiu-panel .confirm-button {
    margin-right: 2em;
}

/******************************************************************************/

#view-list-panel .select-scara-message {
    text-align: center;
}

#view-list-panel .select-scara-message .text-link {
    color: gray;
    font-style: italic;
}

/******************************************************************************/

#spatii-content-panel .instructions {
    color: #346434;
}

#spatii-content-panel .instructions >*{
    margin-bottom: 0.6em;
}

#spatii-content-panel .select-bloc-message,
#spatii-content-panel .select-scara-message {
    text-align: center;
}

#spatii-content-panel .content-panel >.panes-container {
    top: 3.58em;
}

/******************************************************************************/

#add-spatiu-panel .add-spatiu-frame,
#add-spatiu-panel .spatii-list-frame {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.spatiu-form input[type=text],
#add-bloc-panel input[type=text],
#edit-bloc-panel input[type=text],
#add-scara-panel input[type=text],
#edit-scara-panel input[type=text] {
    padding: 6px;
}

#add-spatiu-panel .continue-adding {
    margin-left: 1em;
}

/******************************************************************************/

#add-scara-panel .field-container,
#edit-scara-panel .field-container {
    float: left;
}

#add-scara-panel .field-container.denumire,
#edit-scara-panel .field-container.denumire {
    margin-right: 1em;
}

#add-scara-panel input.denumire-field,
#edit-scara-panel input.denumire-field {
    width: 4em;
}

#add-scara-panel input.adresa-field,
#edit-scara-panel input.adresa-field {
    width: 20em;
}

#add-scara-panel .remove-bloc-section,
#add-spatiu-panel .remove-scara-section {
    margin-top: 2em;
}

/******************************************************************************/

#add-bloc-panel input.denumire,
#edit-bloc-panel input.denumire {
    width: 4em;
}

/******************************************************************************/

.spatii-list-component {
    position: relative;
}

.spatii-panel-component .spatii-list-component {
    float: left;
    height: 100%;
    width: 100%;
}

.spatii-list-component >.list-header {
    color: maroon;
}

.spatii-list-component >.list-container {
    margin-top: 0.4em;
}

.spatii-panel-component .scara-wrapper.scara-view .spatii-list-component >.list-container {
    bottom: 0;
    overflow: auto;
    position: absolute;
    top: 2.9em;
    width: 100%;
}

.spatii-panel-component .scara-wrapper.continuous-view .spatii-list-component >.list-container {
    
}

.spatii-panel-component .scara-wrapper.continuous-view {
    margin-bottom: 1.5em;
}

.spatii-panel-component .scara-wrapper.continuous-view .scara-info {
    background-image: linear-gradient(to right, #ffffff, rgba(0, 0, 0, 0));
    font-weight: bold;
    margin-bottom: 0.6em;
    padding: 4px;
}

.spatii-list-component .spatiu-property-cell {
    float: left;
    padding: 1px 6px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    position: relative;
}

.spatii-panel-component .spatii-list-component .spatiu-property-cell {
    height: 1.6em;
    line-height: 1.6em;    
}

.spatii-list-component >.list-header .spatiu-property-cell {
    line-height: normal;
}

.spatii-list-component .etaj-container {
    border: 1px solid #000;
    float: left;
    clear: both;
    position: relative;
}

.spatii-list-component >.list-header .spatiu-property-cell {
    border-color: transparent;
}

.spatii-list-component >.list-container .spatiu-property-cell {
    border-color: #000;
    border-style: solid;
}

.spatii-list-component >.list-container .spatiu-row:last-child .spatiu-property-cell {
    border-bottom: none;
}

.spatii-list-component .spatiu-property-cell.etaj-cell,
.spatiu-form input.etaj {
    width: 1.2em;
    text-align: center;
}

.spatii-list-component >.list-header .spatiu-property-cell.etaj-cell {
    padding-left: 0; 
    padding-right: 0;
    width: calc( 1.2em + 12px );
}

.spatii-list-component .spatiu-property-cell.etaj-cell {
    border: none;
}

.spatii-list-component >.list-container .spatiu-property-cell.etaj-cell {
    position: absolute;
    height: 100%;
}

.spatii-list-component .etaj-spatii-container {
    margin-left: calc(1.2em + 12px); /* {.etaj-cell}.width + {.spatiu-property-cell}.padding */
}

.spatii-list-component .spatiu-property-cell.numar-cell,
.spatiu-form input.numar {
    width: 3em;
    text-align: right;
}

.spatiu-form thead td.numar {
    padding-right: 6px;
    text-align: right;
}

.spatiu-form thead td.proprietar {
    padding-left: 6px;
    text-align: left;
}

.spatii-list-component .spatiu-property-cell.proprietar-cell,
.spatiu-form input.proprietar {
    width: 13em;
}

.spatii-list-component .spatiu-property-cell.proprietar-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.spatii-list-component .spatiu-property-cell.persoane-cell,
.spatiu-form input.nr_pers,
.spatiu-form td.nr_pers,
.spatiu-form td.suprafata {
    text-align: center;
}

.spatii-list-component .spatiu-property-cell.persoane-cell,
.spatiu-form input.nr_pers {
    width: 3em;
}

.spatii-list-component .spatiu-property-cell.suprafata-cell,
.spatiu-form input.suprafata {
    text-align: right;
}

.spatii-list-component .spatiu-property-cell.suprafata-cell,
.spatiu-form input.suprafata {
    text-align: right;
    width: 4em;
}

.spatii-list-component .etaj-container.hover .spatiu-row:not(.disabled),
.spatii-list-component .spatiu-row:not(.disabled):hover {
    background-image: linear-gradient(to bottom, #ffffff, #b7b7b7);
}

.spatii-list-component .spatiu-row.selected {
    background-image: linear-gradient(to bottom, #373737, #535353);
    color: #eeeeee !important;
}

.spatii-list-component .etaj-container.hover .spatiu-row.selected:not(.disabled),
.spatii-list-component .spatiu-row.selected:not(.disabled):hover {
    background-image: linear-gradient(to bottom, #6f6f6f, #474747);
}

.spatii-list-component .spatiu-property-cell.suma-cell {
    text-align: right;
    width: 5em;
}

.spatii-list-component .spatiu-row .spatiu-property-cell.suma-cell {
    text-align: right;
    width: calc( 5em + 6px );
}

.spatii-list-component .spatiu-property-cell.suma-cell > input {
    border: medium none;
    box-sizing: border-box;
    height: 100%;
    padding: 0 6px;
    text-align: right;
    width: 100%;
}

.spatii-list-component .spatiu-property-cell.parametru-cell {
    text-align: right;
    width: 4em;
}

.spatii-panel-component.selectable .scara-wrapper.scara-view .selection-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.6em;
}

.spatii-panel-component:not(.selectable) .selection-buttons {
    display: none;
}

.spatii-panel-component.selectable .scara-wrapper.scara-view .spatii-list-component >.list-container {
    bottom: 2.4em;
}

.spatii-panel-component.selectable .spatiu-row:not(.disabled) * {
    cursor: pointer;
}

.spatii-panel-component.selectable .spatiu-row.disabled {
    color: #888888;
}

.spatii-panel-component.selectable .list-container .spatiu-property-cell.etaj-cell {
    cursor: pointer;
}

.spatii-list-component input.has-error {
    background-color: #ffab9a;
}

.spatii-list-component .spatiu-property-cell .cell-note {
    color: blue;
    font-family: Arial;
    font-size: 10px;
    position: absolute;
    right: 0px;
    top: -6px;
}

/******************************************************************************/

#add-spatiu-panel .spatii-panel-component {
    left: 10px;
}

#add-spatiu-panel .spatii-panel-component .spatii-list-pane {
    
}

/******************************************************************************/

#remove-bloc-panel .panes-container,
#remove-scara-panel .panes-container,
#remove-spatiu-panel .confirm-frame {
    text-align: center;
}

#remove-bloc-panel .bloc-label,
#remove-scara-panel .bloc-label,
#remove-scara-panel .scara-label,
#remove-spatiu-panel .spatiu-numar {
    font-weight: bold;
}

/******************************************************************************/

#remove-spatiu-panel .spatii-list-pane >.instructions,
#edit-spatiu-panel .spatii-list-pane >.instructions {
    margin-top: 0;
}

#remove-spatiu-panel .confirm-frame,
#edit-spatiu-panel .edit-frame {
    position: absolute;
    bottom: 0;
    right: 0;
}

#remove-spatiu-panel .spatii-panel-component,
#edit-spatiu-panel .spatii-panel-component,
#remove-spatiu-panel .confirm-frame {
    top: 4em;
    width: 50%;
}

#edit-spatiu-panel .edit-frame {
    top: 4em;
    width: calc( 50% - 15px );
}

/******************************************************************************/

.spatiu-form input[type=text] {
    margin-right: 2px;
}

.spatiu-form input.nr_pers {
    width: 3.6em;
}

.spatiu-form input:disabled {
    background-color: rgba(255, 255, 255, 0.33);
    color: #000;
}

.spatiu-form .parametru-item {
    margin-bottom: 0.3em;
    width: 48%;
}

.spatiu-form .parametru-item:nth-of-type(odd) {
    float: left;
}
.spatiu-form .parametru-item:nth-of-type(even) {
    float: right;
}

.spatiu-form input.parametru-field {
    padding: 2px !important;
    text-align: right;
    width: 2em;
}

.spatiu-form .parametru-label {
    font-size: 0.93em;
}

.spatiu-form .additional-fields-container {
    margin-top: 1em;
}

.descriere-parametru-spatiu-tooltip {
    font-size: 1em;
    padding: 0.4em;
    text-align: justify;
}

/******************************************************************************/

/******************************************************************************/


/******************************************************************************/


/******************************************************************************/


/******************************************************************************/

