<div>
    
    <form autocomplete="off">
        <input type="hidden" name="<?php echo App_Api_Scara_Add::ARG_BLOC_ID ?>" />

        <div class="fields-container clearfix">
            <div class="field-container denumire">
                <div class="label">Denumire</div>
                <div>
                    <input type="text" class="denumire-field" name="<?php echo App_Api_Scara_Add::ARG_DENUMIRE ?>" />
                </div>
            </div>

            <div class="field-container adresa">
                <div class="label">Adresa</div>
                <div>
                    <input type="text" class="adresa-field" name="<?php echo App_Api_Scara_Add::ARG_ADRESA ?>" />
                </div>
            </div>
        </div>

        <div class="actions-container">
            <input class="button" type="submit" value="Salvează" />
        </div>

    </form>

    <div class="remove-bloc-section">
        Dacă ați adăugat blocul din greșeală, îl puteți <a class="remove-bloc-button">elimina</a>.
    </div>

    <div class="instructions">
        <div class="select-bloc">Doriți să adăugați scara la alt bloc? Nimic mai simplu: selectați de mai sus denumirea blocului dorit.</div>
    </div>
    
</div>