<div id="signup-module">

    <div class="instructions">
        Completaţi infomaţiile despre Asociaţia dumneavoastră:
    </div>

    <form class="signup-form" autocomplete="off">

        <table class="form-layout">
            <tr>
                <td class="label">Cod Fiscal</td>
                <td class="field-container">
                    <input type="text" name="<?php echo $this->escape(App_Api_Asociatie_Signup::ARG_COD_FISCAL) ?>" />
                    <span class="error"></span>
                </td>
            </tr>

            <tr>
                <td class="label">Denumire</td>
                <td class="field-container">
                    <input type="text" name="<?php echo $this->escape(App_Api_Asociatie_Signup::ARG_DENUMIRE) ?>" />
                    <span class="error"></span>
                </td>
            </tr>

            <tr>
                <td class="label">Judeţ</td>
                <td class="field-container">
                    <input type="text" name="<?php echo $this->escape(App_Api_Asociatie_Signup::ARG_JUDET) ?>" />
                    <span class="error"></span>
                </td>
            </tr>

            <tr>
                <td class="label">Localitate</td>
                <td class="field-container">
                    <input type="text" name="<?php echo $this->escape(App_Api_Asociatie_Signup::ARG_LOCALITATE) ?>" />
                    <span class="error"></span>
                </td>
            </tr>

            <tr>
                <td class="label">Adresa</td>
                <td class="field-container">
                    <input type="text" name="<?php echo $this->escape(App_Api_Asociatie_Signup::ARG_ADRESA) ?>" />
                    <span class="error"></span>
                </td>
            </tr>

            <tr>
                <td class="label">Telefon</td>
                <td class="field-container">
                    <input type="text" name="<?php echo $this->escape(App_Api_Asociatie_Signup::ARG_TELEFON) ?>" />
                    <span class="error"></span>
                </td>
            </tr>

            <tr>
                <td class="label">Adresa de email</td>
                <td class="field-container">
                    <input type="text" name="<?php echo $this->escape(App_Api_Asociatie_Signup::ARG_EMAIL) ?>" />
                    <span class="error"></span>
                </td>
            </tr>

            <tr>
                <td class="label">Parolă</td>
                <td class="field-container">
                    <input type="password" name="<?php echo $this->escape(App_Api_Asociatie_Signup::ARG_PASSWORD) ?>" />
                    <span class="error"></span>
                </td>
            </tr>

            <tr>
                <td class="label">Confirmaţi parola</td>
                <td class="field-container">
                    <input type="password" name="<?php echo $this->escape(App_Api_Asociatie_Signup::ARG_CONFIRM_PASSWORD) ?>" />
                    <span class="error"></span>
                </td>
            </tr>

            <tr>
                <td colspan="0">
                    <input type="submit" value="Înregistrează-mă" />
                </td>
            </tr>
        </table>

        <div class="error general-error"></div>

    </form>

    <div class="back-container">
        <a href="/">Înapoi la pagina principală</a>
    </div>

</div>

<script type="text/javascript">
$(function(){
    new Modules.Signup( $('#signup-module') );
});
</script>