<div class="page-section bransamente-section">

    <div class="section-title">
        Branşamente
    </div>

    <div class="section-content">

        <div class="counter-text"></div>
        
        <div class="list-content"></div>

        <div class="instruction-small selection-instruction">
            <span class="info-icon"></span>
            Pentru a specifica dacă o scară este branşată la reţeaua de gaze naturale, bifaţi căsuţa din dreptul scării respective.
        </div>
        
        <div class="save-button-wrapper">
            <input type="button" class="button save-button" value="Salvează" />
            <a class="restore-button">anulează modificările</a>
        </div>
        
        <div class="template bransament-scara list-item">
            <label class="choice">
                <input type="checkbox" /><span class="denumire-scara"></span>
            </label>
        </div>
        
    </div>

</div>