<div class="spatii-panel-component">

    <div class="template spatii-list-component">

        <div class="list-header clearfix">
            <div class="spatiu-property-cell etaj-cell">Etaj</div>
            <div class="spatiu-property-cell select-cell"></div>
            <div class="spatiu-property-cell numar-cell">Nr.</div>
            <div class="spatiu-property-cell proprietar-cell">Proprietar</div>
            <div class="spatiu-property-cell parametru-cell persoane-cell">Nr.<br />pers.</div>
            <div class="spatiu-property-cell parametru-cell suprafata-cell">Supr.<br />[m²]</div>
            <div class="spatiu-property-cell suma-cell"></div>
        </div>

        <div class="list-container clearfix"></div>
    
        <div class="selection-buttons">
            <a class="select-all-button">selectează tot</a> | <a class="deselect-all-button">deselectează tot</a>
        </div>
        
        <div class="template etaj-container" data-etaj="">
            <div class="spatiu-property-cell etaj-cell"></div>
            <div class="etaj-spatii-container"></div>
        </div>

        <div class="template spatiu-row clearfix" data-id="">
            <div class="spatiu-property-cell select-cell">
                <input type="checkbox" tabindex="-1" class="selection" />
            </div>
            <div class="spatiu-property-cell numar-cell"></div>
            <div class="spatiu-property-cell proprietar-cell"></div>
            <div class="spatiu-property-cell parametru-cell persoane-cell"></div>
            <div class="spatiu-property-cell parametru-cell suprafata-cell"></div>
            <div class="spatiu-property-cell suma-cell">
                <input type="text" name="suma_spatiu" />
                <div class="value"></div>
            </div>
        </div>

    </div>
    
    <div class="template scara-view scara-wrapper fit-max-wrapper"></div>
    
    <div class="template continuous-view scara-wrapper">
        <div class="scara-info">
            <span class="bloc">Bloc <span class="denumire-bloc"></span>, </span>Scara <span class="denumire-scara"></span>
        </div>
        <div class="scara-content clearfix"></div>
    </div>

</div>