<span class="repartizare-scara-component">
    
    <?php if( $this->show_denumire_scara ): ?>
        <span class="denumire-scara"></span>
    <?php endif; ?>
    
    <span class="summary"></span>
    
    <?php if( !$this->read_only ): ?>
    <span class="select-spatii-button"
        <?php if( !$this->hide_tooltip ): ?>
            title="Selectaţi apartamentele din cadrul scării la care se repartizează cheltuiala."
        <?php endif; ?>
    ></span>
    <?php endif; ?>
    
</span>
