<div id="spatii-selection-dialog" title="Selectare apartamente" class="operating-dialog">
    
    <div class="ui-dialog-content">
         <?php echo $this->includeView( 'list.phtml' ) ?>
    </div>
    
    <div class="buttons-container">
        <input type="button" class="button done-button" value="OK" />
        <a class="cancel-button">Renunță</a>
    </div>
    
    
</div>
