<div class="selection-frame">
    
    <div class="choice all-choice">
        <label>
            <input type="checkbox" value="*" />toate apartamentele
        </label>
    </div>
    
    <div class="blocuri-container"></div>
    
    <div class="template bloc-choice-wrapper">
        
        <div class="choice bloc-choice">
            <label>
                <input type="checkbox" value="" />Bloc <span class="denumire-bloc"></span>
            </label>
        </div>
        
        <div class="scari-container"></div>
        
    </div>
    
    <div class="template choice scara-choice">
        <label>
            <input type="checkbox" value="" />Scara <span class="denumire-scara"></span>
        </label>,
        
        <?php echo $this->includeView( 'repartizare-scara.phtml', [
            'params' => [ 
                    'show_denumire_scara'   => FALSE,
                    'hide_tooltip'          => TRUE,
            ] 
        ] ); ?>
        
    </div>
    
    <?php echo $this->includeView( 'selection-dialog.phtml', [ 'once' => true ] ); ?>
    
</div>