<form class="select-month-container">

    <div>Alegeți luna începând cu care doriți să calculați listele de plată.</div>

    <div class="fields-container">
        <select name="<?php echo App_Api_Configuration_FirstMonth::ARG_MONTH ?>"></select>
        <select name="<?php echo App_Api_Configuration_FirstMonth::ARG_YEAR ?>"></select>
    </div>
    
    <div class="actions-container">
        <input type="submit" class="button save-button" value="Salvează" />
    </div>

    <div class="confirm-message">
        IMPORTANT: Odată aleasă această lună ea nu mai poate fi modificată.<br /><br />
        Sunteți sigur că doriți să alegeți luna <span class="month-label"></span> ca prima lună de calcul a listelor de plată?
    </div>

</form>
