<div id="confirm-dialog">
    
    <div class="content"></div>
    
    <div class="buttons-container">
        <input type="button" class="button yes-button" value="DA" />
        <span class="buttons-delimiter"></span>
        <input type="button" class="button no-button" value="NU" />
    </div>
         
</div>