<?php
    if( !isset( $this->columns ) )
    {
        $this->columns = [ '*' ];
    }
    
    $columns = (array)$this->columns;
    
    $show_persoane_column   = ( in_array( '*', $columns ) || in_array( 'nr_pers', $columns ) );
    $show_suprafata_column  = ( in_array( '*', $columns ) || in_array( 'supr', $columns ) );
    $show_parametru_column  = ( in_array( 'parametru', $columns ) );
    $show_input_column      = ( in_array( 'input', $columns ) );
           
    $input_field_label      = isset( $this->input_field_label ) ? $this->input_field_label : 'Suma';
?>

<div class="panes-container spatii-panel-component <?php echo $this->css_class ?>">

    <div class="pane-wrapper" data-id="select-scara">
        <div class="select-scara-message">
            <?php echo isset( $this->select_scara_message ) ? $this->escape( $this->select_scara_message ) : 'Alegeți mai întâi o scară și apoi selectați apartamentele la care se repartizează suma.' ; ?>
        </div>
    </div>
    
    <div class="template spatii-list-pane">

        <div class="list-header clearfix">
            <div class="spatiu-property-cell etaj-cell">Etaj</div>
            <div class="spatiu-property-cell numar-cell">Nr.</div>
            <div class="spatiu-property-cell proprietar-cell">Proprietar</div>
            
            <?php if( $show_persoane_column ): ?>
                <div class="spatiu-property-cell persoane-cell">Nr.<br />pers.</div>
            <?php endif; ?>
                
            <?php if( $show_suprafata_column ): ?>
                <div class="spatiu-property-cell suprafata-cell">Supr.<br />[m²]</div>
            <?php endif; ?>
                
            <?php if( $show_parametru_column ): ?>
                <div class="spatiu-property-cell parametru-cell"></div>
            <?php endif; ?>
                
            <?php if( $show_input_column ): ?>
                <div class="spatiu-property-cell suma-cell">
                    <?php echo $input_field_label; ?>
                </div>
            <?php endif; ?>
        </div>

        <div class="list-container"></div>
    
        <?php if( $this->selection ): ?>
        <div class="selection-buttons">
            <a class="select-all-button">selectează tot</a> | <a class="deselect-all-button">deselectează tot</a>
        </div>
        <?php endif; ?>
        
        <div class="template etaj-container" data-etaj="">
            <div class="spatiu-property-cell etaj-cell"></div>
            <div class="etaj-spatii-container"></div>
        </div>

        <div class="template spatiu-row clearfix" data-id="">
            <div class="spatiu-property-cell numar-cell"></div>
            <div class="spatiu-property-cell proprietar-cell"></div>
            
            <?php if( $show_persoane_column ): ?>
                <div class="spatiu-property-cell persoane-cell"></div>
            <?php endif; ?>
                
            <?php if( $show_suprafata_column ): ?>
                <div class="spatiu-property-cell suprafata-cell"></div>
            <?php endif; ?>
                
            <?php if( $show_parametru_column ): ?>
                <div class="spatiu-property-cell parametru-cell"></div>
            <?php endif; ?>
                
            <?php if( $show_input_column ): ?>
                <div class="spatiu-property-cell suma-cell">
                    <input type="text" name="suma_spatiu" />
                </div>
            <?php endif; ?>
        </div>

    </div>

</div>