<form autocomplete="off">
    <input type="hidden" name="<?php echo App_Api_Bloc_Edit::ARG_BLOC_ID ?>" />
    
    <div>
        <label>Denumire:</label>
        <input type="text" class="denumire" name="<?php echo App_Api_Bloc_Edit::ARG_DENUMIRE ?>" value="" />
    </div>

    <div class="actions-container">
        <input class="button" type="submit" value="Salvează" />
    </div>

    <div class="instructions">
        <div class="select-bloc">Doriți să modificați alt bloc? Nimic mai simplu: selectați de mai sus denumirea blocului dorit.</div>
    </div>
    
</form>
